{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

<div class="container-fluid">
        <div id="bg" style="position:absolute;z-index:-1;left:0;height:375px;"></div>
        
        <center class="py-4">
            <img src="image/logo.png" class="mb-3" style="height: 150px;width: auto;" >
            <p class="text-center text-white"><strong>N'achetez que le nécessaire, pour le reste il y a Kiloukoi!</strong></p>
        </center>

        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    {% if error %}
                        <div class="alert alert-danger text-center">{{ error.messageKey|trans(error.messageData, 'security', 'fr') }}</div>
                    {% endif %}
        
                    <form method="post" class="card-body">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >
                        
                        <div class="form-group">
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Adresse Email" class="form-control e-mai" required autofocus>
                        </div>
        
                        <div class="form-group">
                            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mots de Passe" required>
                        </div>
                        
                        <div class="form-group">
                            <button class="btn btn-success btn-block" type="submit">Connexion</button>
                        </div>
        
                        <div class="row">
                            <div class="col-md-12 col-lg-6 my-2 text-center">
                                <a href="{{ path('connect_facebook') }}" class="btn btn-block btn-primary" >
                                    <img src="{{ asset('image/facebook.png') }}" class="mr-2 float-left" style="height: 25px"><span>Se connecter avec facebook</span>
                                </a>
                            </div>
        
                            <div class="col-md-12 col-lg-6 my-2 text-center">
                                <a href="{{ path('connect_google') }}" class="btn btn-block btn-danger" >
                                    <img src="{{ asset('image/google.png') }}" class="float-left" style="height: 25px"><span>Se connecter avec google</span>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="my-3 text-center">
            <p>
                <strong><a class="text-dark" style="text-decoration: underline" href="{{ path('app_forgot_password_request') }}">Mot de passe oublier?</a></strong>
            </p>
                
            <p>
                <span>Nouveau sur kiloukoi ?</span>
                <strong><a class="text-dark" style="text-decoration: underline" href="{{ path('app_register') }}">Créez votre compte</a></strong>
            </p>
        </div>
</div>

{% endblock %}
