{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-6 offset-lg-4 offset-md-3">
            <div class="card p-3">
                {% if error %}
                    <div class="alert alert-danger text-center">{{ error.messageKey|trans(error.messageData, 'security', 'fr') }}</div>
                {% endif %}
    
                <form method="post" class="card-body">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >
                    
                    <div class="form-group">
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Adresse Mail" class="form-control e-mai" required autofocus>
                    </div>
    
                    <div class="form-group">
                        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de Passe" required>
                    </div>
                    
                    <div class="form-group">
                        <button class="btn btn-success btn-block" type="submit">Connexion</button>
                    </div>
    
                    <div class="form-group text-center">
                        <a href="{{ path('connect_facebook') }}" class="btn btn-block btn-primary" >
                            <img src="{{ asset('image/facebook.png') }}" class="mr-2 float-left" style="height: 25px"><span>Se connecter avec facebook</span>
                        </a>
                    </div>

                    <div class="form-group text-center">
                        <button type="button" class="btn btn-block btn-danger"  data-toggle="modal" data-target="#modalGoogleUser">
                            <img src="{{ asset('image/google.png') }}" class="float-left" style="height: 25px"><span>Se connecter avec google</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <div class="my-3 text-center">
        <p>
            <strong><a class="text-dark" style="text-decoration: underline" href="{{ path('app_forgot_password_request') }}">Mot de passe oublié?</a></strong>
        </p>
            
        <p>
            <span>Nouveau sur kiloukoi ?</span>
            <strong>
                <a class="text-dark" style="text-decoration: underline"></a>
                <button class="btn btn-link"  data-toggle="modal" data-target="#modalUser">Créez votre compte</button>
            </strong>
        </p>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalUser" tabindex="-1" role="dialog" aria-labelledby="modalUserLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalUserLabel">Vous êtes?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <a href="{{ path('app_register', {type: 'particulier'}   ) }}" class="btn btn-success btn-block">Particulier</a>
                <a href="{{ path('app_register', {type: 'professionnel'} ) }}" class="btn btn-success btn-block">Professionnel</a>
            </div>
        </div>
    </div>
</div>


<!-- Modal Google -->
<div class="modal fade" id="modalGoogleUser" tabindex="-1" role="dialog" aria-labelledby="modalGoogleUserLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalGoogleUserLabel">Vous êtes?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <a href="{{ path('connect_google', {type: 'particulier'}   ) }}" class="btn btn-success btn-block">Particulier</a>
                <a href="{{ path('connect_google', {type: 'professionnel'} ) }}" class="btn btn-success btn-block">Professionnel</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
