{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container-fluid">
    <div id="bg" style="position:absolute;z-index:-1;left:0;height:375px;"></div>
    
    <center class="py-4">
        <img src="image/logo.png" class="mb-3" style="height: 150px;width: auto;" >
        <p class="text-center text-white"><strong>N'achetez que le nécessaire, pour le reste il y a Kiloukoi!</strong></p>
    </center>

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    {{ form_start(registrationForm) }}
                        {{ form_row(registrationForm.email) }}
                        {{ form_row(registrationForm.password) }}

                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(registrationForm.nom) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(registrationForm.prenom) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(registrationForm.telephone) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(registrationForm.pseudo) }}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-4">
                                {{ form_row(registrationForm.ville) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(registrationForm.rue) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(registrationForm.cp) }}
                            </div>
                        </div>

                        <div class="row m-3 text-center">
                            <div class="col-md-4 offset-md-4">
                                <img src="{{ asset('image/img-add.png') }}" alt="" class="img-fluid rounded output-image">
                                <div>
                                    {% do registrationForm.avatar.setRendered() %}
                    
                                    <label href="#" type="button" class="btn btn-info btn-block">
                                        <input type="file" name="{{ registrationForm.avatar.vars.full_name }}" class="d-none input-image"> Changer d'avatar
                                    </label>
                                </div>
                            </div>
                        </div>
                        
                        {# {{ form_row(registrationForm.agreeTerms) }} #}
                        
                        <button type="submit" class="btn btn-primary btn-block">
                            <i class="fa fa-btn fa-user"></i> Enregistrer
                        </button>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready( function()
        {
            $(document).on('change', '.input-image', function(e) 
            {
                var input = this;

                var reader = new FileReader();
                reader.onload = function(e) 
                {
                    $('.output-image').attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]); // convert to base64 string
            });
        })

    </script>
{% endblock %}