{{ form_start(form) }}

    <ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
        <li class="nav-item pr-2">
            <a class="nav-link active btn btn-outline-primary" id="pills-detail-tab" data-toggle="pill" href="#pills-detail" role="tab" aria-controls="pills-detail" aria-selected="true">Détails</a>
        </li>
        <li class="nav-item pl-2">
            <a class="nav-link btn btn-outline-primary" id="pills-photos-tab" data-toggle="pill" href="#pills-photos" role="tab" aria-controls="pills-photos" aria-selected="false">Photos</a>
        </li>
    </ul>

    <div class="tab-content" id="pills-tabContent" style="min-height: 370px;">
        <div class="tab-pane fade" id="pills-photos" role="tabpanel" aria-labelledby="pills-photos-tab">
            {% set i = 0 %}
            <div class="photo row m-auto" data-prototype="{{ include('annonces/photo.html.twig', { 'form': form.photo.vars.prototype, 'photo': null }) | e('html_attr') }}">
                <input type="hidden" value="{{ photoMax }}" id="photoMax">
                {% for photo in photos %}
                    <div class="col mb-3" id="photo_{{ photo.id }}">
                        {{ include('annonces/photo.html.twig', { 'photo': photo, 'numero': i }) }}
                    </div>
                    {% set i = i + 1 %}
                {% endfor %}
                {% set annonce = false %}
            </div>
            {% do form.photo.setRendered() %}
        </div>

        <div class="tab-pane fade show active" id="pills-detail" role="tabpanel" aria-labelledby="pills-detail-tab">
            
            {{ form_row(form.titre) }}

            <div class="row">
                {# render the the rest, except submit button #}
                {% for child in form %}
                    {% if child.vars.name not in ['prix', 'type', 'description', 'caution', 'urgent', 'heureDebut', 'heureFin'] %}
                        <div class="col-lg-12">
                            {{ form_row(child) }}
                        </div>
                    {% endif %}
                    {% if (child.vars.name == 'heureDebut') %}
                        <div class="col-lg-6">
                            {{ form_row(form.heureDebut) }}
                        </div>
                    {% endif %}
                    {% if (child.vars.name == 'heureFin') %}
                        <div class="col-lg-6">
                            {{ form_row(form.heureFin) }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-lg-4">
                    {{ form_row(form.prix, {'attr': {'autocomplete': 'off'} }) }}
                </div>
                <div class="col-lg-4">
                    {{ form_row(form.caution, {'attr': {'autocomplete': 'off'} }) }}
                </div>
                <div class="col-lg-4">
                    {{ form_row(form.type) }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                  {{ form_row(form.description) }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                  {{ form_row(form.urgent) }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <input type="hidden" id="recaptchaResponse" name="recaptcha-response">
                </div>
            </div>                
        </div>
    </div>

    <button class="btn btn-primary btn-block" type="submit">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}

<!-- Modal - Photo maximum permis atteint -->
<div class="modal fade" id="photo-overflow" tabindex="-1" role="dialog" aria-labelledby="photo-overflow-label" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header bg-warning text-white">
            <h5 class="modal-title" id="photo-overflow-label">Information!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            Vous avez atteint le nombre maximum d'image à uploader.
         </div>
      </div>
   </div>
</div>
