{% extends "base.html.twig" %}

{% set annonce_titre = annonce_titre is defined ? annonce_titre : "Annonces" %}

{% block title %}{{ annonce_titre }}{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="container pt-5 px-0">
        <div class="row px-0">
            <div class="col-lg-10 offset-lg-1 px-0">
                <div class="card px-3 py-5 shadow">
                    <div class="card-title"><h3 class="text-success text-center">Déposer une annonce</h3></div>
                    <div class="card-body pt-1">
                        <div class="row">
                            <div class="col-12 col-md-6 offset-md-3">
                                <form action="{{ path('annonces_new') }}" class="text-center"> 
                                    {#
                                    <div class="form-group ">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="type" id="radio-offre" value="offre" checked>
                                            <label class="form-check-label" for="radio-offre">
                                                Offre
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="type" id="radio-demande" value="demande">
                                            <label class="form-check-label" for="radio-demande">
                                                Demande
                                            </label>
                                        </div>
                                    </div>
                                    #}

                                    <div class="form-group">
                                        <select class="form-control custom-select" name="categorie">
                                            {% for categorie in categories %}
                                                <option value="{{ categorie.className }}">{{ categorie.libelle }} </option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <button class="btn btn-success btn-block" type="submit">Continuer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {# 
    <div class="container pt-3">
        <div class="card py-3 shadow">
            <div class="card-title"><h3 class="text-success text-center">Liste des catégries</h3></div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4 col-md-6" id="list-1">
                        <div class="list-group">
                            {% for categorie in categories | slice(0, 5) %}
                                <button class="list-group-item list-group-item-action border-0 py-1" style="cursor: pointer;" data-toggle="collapse" data-target="#collapse-{{ categorie.id }}" aria-expanded="true" aria-controls="collapse-{{ categorie.id }}">
                                    <i style="width: 25px;" class="text-center mr-1 {{ categorie.icon }}"></i> {{ categorie.libelle }}
                                </button>
                                <ul id="collapse-{{ categorie.id }}" class="collapse" aria-labelledby="heading-{{ categorie.id }}" data-parent="#list-1">
                                    {% for sous_cat in categorie.sousCategories %}
                                        <li><a href="{{ path('annonces_categorie', {categorie_slug: categorie.className, sous_categorie_slug: sous_cat.slug}) }}">{{ sous_cat.libelle }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6" id="list-2">
                        <div class="list-group">
                            {% for categorie in categories | slice(5, 5) %}
                                <button class="list-group-item list-group-item-action border-0 py-1" style="cursor: pointer;" data-toggle="collapse" data-target="#collapse-{{ categorie.id }}" aria-expanded="true" aria-controls="collapse-{{ categorie.id }}">
                                    <i style="width: 25px;" class="text-center mr-1 {{ categorie.icon }}"></i> {{ categorie.libelle }}
                                </button>
                                <ul id="collapse-{{ categorie.id }}" class="collapse" aria-labelledby="heading-{{ categorie.id }}" data-parent="#list-2">
                                    {% for sous_cat in categorie.sousCategories %}
                                        <li><a href="{{ path('annonces_categorie', {categorie_slug: categorie.className, sous_categorie_slug: sous_cat.slug}) }}">{{ sous_cat.libelle }}</a></li>
                                    {% endfor %}
                                </ul>   
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6" id="list-3">
                        <div class="list-group">
                            {% for categorie in categories | slice(10, 5) %}
                                <button class="list-group-item list-group-item-action border-0 py-1" style="cursor: pointer;" data-toggle="collapse" data-target="#collapse-{{ categorie.id }}" aria-expanded="true" aria-controls="collapse-{{ categorie.id }}">
                                    <i style="width: 25px;" class="text-center mr-1 {{ categorie.icon }}"></i> {{ categorie.libelle }}
                                </button>
                                <ul id="collapse-{{ categorie.id }}" class="collapse" aria-labelledby="heading-{{ categorie.id }}" data-parent="#list-3">
                                    {% for sous_cat in categorie.sousCategories %}
                                        <li><a href="{{ path('annonces_categorie', {categorie_slug: categorie.className, sous_categorie_slug: sous_cat.slug}) }}">{{ sous_cat.libelle }}</a></li>
                                    {% endfor %}
                                </ul>   
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    #}

    {% include "annonces/list.html.twig" %}
</div>

{% endblock %}