	<div class="container-fluid mt-2 mb-3">
		<div class="row">
			<div class="col-lg-10 offset-lg-1">
				<div class="card">
					<h1 class="h3 text-center text-muted pt-2">{{ annonce_titre }}</h1>
					{% if annonces|length == 0 %}
						<div class="card-body">
							<div class="alert alert-warning text-center">
								Aucune annonce déposée!
							</div>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-10 offset-lg-1">
				<div class="row card-deck">
					<!-- mostViewedAds defined -->
					{% if mostViewedAds is defined %}
						<div class="col-lg-12 col-md-12">
							<div class="row">
								{% for annonce in annonces %}
									{% set slug = annonce.slug == '' ? 'annonces_' : annonce.slug %}
									<div class="col-12 col-md-12 col-lg-12 mb-3">
										<div class="card m-auto" style="">
										<!-- div class="row px-0" -->
											<div class="card-body card-body-ad-list">
												<div class="row row_ad">
													{% if annonce.photo|length > 0 %}
														<div class="col-lg-3 col-sm-3 col-5 text-center py-2 pb-3" style="position:relative;">
															<a href="{{ path('annonces_show', {id: annonce.id, slug: slug }) }}" style="" class="overflow-hidden text-center">
																<img src="{{ asset("uploads/" ~ annonce.photo[0].url) | imagine_filter('thumb') }}" class="card-img-top w-100 m-auto" alt="..." style="width: 100%;">
															</a>
														</div>
													{% else %}
														<div class="col-lg-3 col-sm-3 col-5 text-center bg-light py-2 pb-3" style="position:relative;">
															<a href="{{ path('annonces_show', {id: annonce.id, slug: slug }) }}" style="line-height:" class="overflow-hidden text-center">
																<img src="{{ asset('image/logo-fond-blanc.png') }}" class="card-img-top m-auto p-3 img-logo-kilouks" style="" alt="...">
															</a>
														</div>
													{% endif %}
													

													<div class="col-lg-9 col-sm-9 col-7 padding-col-lg-nine"> 
														<!-- div class="card-body py-2 px-3 text-left" -->
														<h3 class="card-title text-primary mb-2" style="font-size: 1.35rem;">
															<strong><a href="{{ path('annonces_show', {id: annonce.id, slug: slug }) }}" >{{ annonce.titre |capitalize }}</a></strong>
														</h3>

														<div class="details pt-2" style="font-size: 1rem;position:relative;">
															<p class="card-text mb-0"><strong class="text-success">Prix : </strong>{{ annonce.prix }}€ /{{ annonce.type ? annonce.type.libelle : "mois" }}</p>
															<p class="card-text mb-0"><strong class="text-success">Catégorie : </strong>{{ annonce.categorie.libelle }} {% if annonce.sousCategorie is not null %}/ {{ annonce.sousCategorie.libelle }}{% endif %}</p>
															<p class="card-text text-justify text-description-henintsoa mb-0 "><strong class="text-success">Description : </strong>  {{ annonce.description | slice(0, 46) }} {% if annonce.description|length > 46 %} ... {% endif %} </p>
															<p class="card-text mb-0"><strong class="text-success">Propriétaire : </strong><a href="{{ path('proprietaire_annonce', {proprietaire: annonce.user.id, pseudo: annonce.user.pseudo}) }}">{{ annonce.user.pseudo }}</a></p>
														</div>

														<div class="row row_ad pt-2">
															{% if app.user and app.user.id == annonce.user.id %}
																<div class="col text-left mt-2 pl-0 ad-form-modifs">
																	<a href="{{ path('annonces_edit', {'id': annonce.id}) }}" class="p-0 btn btn-link text-info" style="font-size: .8rem;">Modifier</a>
																	{{ include('annonces/_delete_form.html.twig') }}
																</div>
															{% else %}
																<div class="col text-left mt-2 pl-0">
																	<span style="font-size:0.95rem;"><i class="fa fa-eye"></i> {{ annonce.visite | number_format }}</span>
																</div>
															{% endif %}

															{% if app.user and app.user.id != annonce.user.id %}
																<div class="col-lg-1 col-sm-2 col-2 text-right" title="Favoris">
																	{% if annonce.userFavoris|length == 0 %}
																		<span class="mr-3" data="{{ annonce.id }}">
																			<i class="far fa-heart pt-2" style="font-size:1.5rem;"></i>
																		</span>
																	{% else %}
																		<span class="mr-3" data="{{ annonce.id }}">
																			<i class="fa fa-heart text-danger pt-2" style="font-size:1.5rem;"></i>
																		</span>
																	{% endif %}
																</div>
															{% endif %}

															<div class="col-lg-2 col-md-2 col-sm-4 col-4 px-2 py-2 text-right date-ad">
																<small class="text-muted mr-2">{{ annonce.dateModification | date("d/m/Y") }}</small>
															</div>
														</div>
														<!-- /div -->

														<!-- /div -->
													</div>
												</div>
												<!-- div class="card-footer text-right p-0 bg-white" style="font-size: .8rem;">
													
												</div -->
											</div>
										<!--/div-->
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
						<!-- div class="col-lg-3 col-md-12 col-sm-12 col-12 card-info">
								<div class="row">
									<div class="col-md-12">
										<h3 class="text-center border bg-white py-2 text-muted"> A la une ! </h3>
									</div>
									{#% for mostViewed in mostViewedAds %#}
											{#% set slug = mostViewed.slug == '' ? 'annonces_' : mostViewed.slug %#}
											<div class="col-lg-12 mb-2 px-0">
												<div class="card">
													<div class="card-header py-0">
														<a href="{#{ path('annonces_show', {id: mostViewed.id, slug: slug }) }#}" style="height: 185px;" class="overflow-hidden bg-light">
															{#% if mostViewed.photo|length > 0 %#}
																<img src="{#{ asset("uploads/" ~ mostViewed.photo[0].url) }#}" class="card-img-top w-100 m-auto" alt="..." style="width: 100%;">
															{#% else %#}
																<img src="{#{ asset('image/logo-fond-blanc.png') }#}" class="card-img-top m-auto p-3" style="width: 100%;" alt="...">
															{#% endif %#}
														</a>
													</div>
													<div class="card-body">
														<h3 class="card-title text-primary mb-2" style="font-size: 1.35rem;">
															<strong><a href="{#{ path('annonces_show', {id: mostViewed.id, slug: slug }) }#}" >{#{ mostViewed.titre |capitalize }#}</a></strong>
														</h3>

														<div class="details" style="font-size: 1rem;position:relative;">
															<p class="card-text mb-0"><strong class="text-success">Prix : </strong>{#{ mostViewed.prix }#}€ /{#{ mostViewed.type ? mostViewed.type.libelle : "mois" }#}</p>
															<p class="card-text mb-0"><strong class="text-success">Catégorie : </strong>{#{ mostViewed.categorie.libelle }#} {#% if mostViewed.sousCategorie is not null %#}/ {#{ mostViewed.sousCategorie.libelle }#}{#% endif %#}</p -->
															<!-- p class="card-text text-justify mb-0"><strong class="text-success">Description : </strong> {#{ mostViewed.description | slice(0, 46) }#} ... </p -->
															<!-- p class="card-text mb-0"><strong class="text-success">Propriétaire : </strong><a href="{#{ path('proprietaire_annonce', {proprietaire: mostViewed.user.id, pseudo: mostViewed.user.pseudo}) }#}">{#{ mostViewed.user.pseudo }#}</a></p -->
														<!-- /div>
													</div>
													<div class="card-footer">
														<div class="row">
															{#% if app.user and app.user.id == mostViewed.user.id %#}
																<div class="col text-left ml-2">
																	<a href="{#{ path('annonces_edit', {'id': mostViewed.id}) }#}" class="p-0 btn btn-link text-info" style="font-size: .8rem;">Modifier</a>
																	{#{ include('annonces/_delete_form.html.twig') }#}
																</div>
															{#% else %#}
																<div class="col text-left ml-2">
																	<span><i class="fa fa-eye"></i> {#{ mostViewed.visite | number_format }#}</span>
																</div>
															{#% endif %#}

															<div class="col px-2 text-center">
																<small class="text-muted">{#{ mostViewed.dateModification | date("d/m/Y") }#}</small>
															</div>
														</div>
													</div>
												</div>
											</div-->
									{#% endfor %#}
								</div>
						</div>
					{% else %}
						<div class="col-lg-12 col-md-12">
							<div class="row">
								{% for annonce in annonces %}
									{% set slug = annonce.slug == '' ? 'annonces_' : annonce.slug %}
									<div class="col-12 col-md-12 col-lg-12 mb-3">
										<div class="card m-auto" style="">
										<!-- div class="row px-0" -->
											<div class="card-body card-body-ad-list">
												<div class="row row_ad">
													{% if annonce.photo|length > 0 %}
														<div class="col-lg-3 col-sm-3 col-5 text-center py-2 pb-3" style="position:relative;">
															<a href="{{ path('annonces_show', {id: annonce.id, slug: slug }) }}" style="" class="overflow-hidden text-center">
																<img src="{{ asset("uploads/" ~ annonce.photo[0].url) | imagine_filter('thumb') }}" class="card-img-top w-100 m-auto" alt="..." style="width: 100%;">
															</a>
														</div>
													{% else %}
														<div class="col-lg-3 col-sm-3 col-5 text-center bg-light py-2" style="position:relative;">
															<a href="{{ path('annonces_show', {id: annonce.id, slug: slug }) }}" style="line-height:" class="overflow-hidden text-center">
																<img src="{{ asset('image/logo-fond-blanc.png') }}" class="card-img-top m-auto p-3 img-logo-kilouks" style="" alt="...">
															</a>
														</div>
													{% endif %}
													

													<div class="col-lg-9 col-sm-9 col-7 px-4 padding-col-lg-nine pb-4" style=""> 
														<!-- div class="card-body py-2 px-3 text-left" -->
														<h3 class="card-title text-primary mb-2" style="font-size: 1.35rem;">
															<strong><a href="{{ path('annonces_show', {id: annonce.id, slug: slug }) }}" >{{ annonce.titre |capitalize }}</a></strong>
														</h3>

														<div class="details pt-2" style="font-size: 1rem;position:relative;">
															<p class="card-text mb-0"><strong class="text-success">Prix : </strong>{{ annonce.prix }}€ /{{ annonce.type ? annonce.type.libelle : "mois" }}</p>
															<p class="card-text mb-0"><strong class="text-success">Catégorie : </strong>{{ annonce.categorie.libelle }} {% if annonce.sousCategorie is not null %}/ {{ annonce.sousCategorie.libelle }}{% endif %}</p>
															<p class="card-text text-justify text-description-henintsoa mb-0 "><strong class="text-success">Description : </strong>  {{ annonce.description | slice(0, 46) }} {% if annonce.description|length > 46 %} ... {% endif %} </p>
															<p class="card-text mb-0"><strong class="text-success">Propriétaire : </strong><a href="{{ path('proprietaire_annonce', {proprietaire: annonce.user.id, pseudo: annonce.user.pseudo}) }}">{{ annonce.user.pseudo }}</a></p>
														</div>
														<!-- /div -->

														<!-- /div -->
													</div>
												</div>
												<div class="card-footer text-right p-0 bg-white" style="font-size: .8rem;">
													<div class="row row_ad pt-2">
														{% if app.user and app.user.id == annonce.user.id %}
															<div class="col text-left mt-2 pl-4">
																<a href="{{ path('annonces_edit', {'id': annonce.id}) }}" class="p-0 btn btn-link text-info" style="font-size: .8rem;">Modifier</a>
																{{ include('annonces/_delete_form.html.twig') }}
															</div>
														{% else %}
															<div class="col text-left mt-2 pl-4">
																<span style="font-size:0.95rem;"><i class="fa fa-eye"></i> {{ annonce.visite | number_format }}</span>
															</div>
														{% endif %}

														{% if app.user and app.user.id != annonce.user.id %}
															<div class="col-lg-1 col-sm-2 col-2 text-right" title="Favoris">
																{% if annonce.userFavoris|length == 0 %}
																	<span class="mr-3" data="{{ annonce.id }}">
																		<i class="far fa-heart pt-2" style="font-size:1.5rem;"></i>
																	</span>
																{% else %}
																	<span class="mr-3" data="{{ annonce.id }}">
																		<i class="fa fa-heart text-danger pt-2" style="font-size:1.5rem;"></i>
																	</span>
																{% endif %}
															</div>
														{% endif %}

														<div class="col-lg-1 col-md-2 col-sm-3 col-3 px-2 py-2 text-right">
															<small class="text-muted mr-2">{{ annonce.dateModification | date("d/m/Y") }}</small>
														</div>
													</div>
												</div>
											</div>
										<!--/div-->
										</div>
									</div>
								{% endfor %}
							</div>
						</div>	
					{% endif %}	
				</div>

				{% include "pagination.html.twig"  with { count: annonces.count, max: annonces.query.maxResults } %}
			</div>
		</div>
	</div>
