{% extends 'base.html.twig' %}

{% block title %}New Annonces{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/styleannonces.css') }}" rel="stylesheet"/>

{% endblock %}

{% block body %}
<header>

    <div class="container-fluid">
        <div class="row">
            <div id="ano" class="col-md-2">

                {# <div id="deposer"> + Déposer une annonce </div> #}
            </div>
            <div id="head" class="col-md-8">
                <center>
                    <span><img id="icone" src="icone/search.png"><label>Mes recherches</label></span>
                    <span><img id="icone" src="icone/star.png"><label>Favoris</label></span>
                    <span><img id="icone" src="icone/user.png"><label>User</label></span>
                </center>

            </div>
        </div>

</header>


<div id="bg" >

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <h1 class="align-content-center">Entrer les champs</h1>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        <div>

            <div class="container">
                <div>
                    <div id="vehicule" class="container">
                        <div class="row">
                            <div class="col-sm-2">
                            </div>

                            <div id="immbolier" class="container">
                                <div class="row">
                                    <div class="col-sm-2">
                                    </div>
                                    <div class="col-sm-8">
                                        <div id="formulaire_annonce" >
                                            {{ include('annonces/_form.html.twig') }}
                                            <div id="formAnnonces"></div>

                                            <a href="{{ path('annonces_index') }}">back to list</a>

                                        </div>
                                        <div class="col-sm-2">
                                        </div>
                                    </div>
                                    <div>
                                <div>
                        <div>

                    </div>

    


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    $(document).ready(function () {
    var $divAnnonces = $('#form_categorie');
    
    // When sport gets selected ...
    $('body').on('submit', "[name='form']", function(e){
        console.log("2e")
      });
    $(document).on('change', '#form_categorie', function() {
        var $form = $(this).closest("[name='form']");
      // ... retrieve the corresponding form.
      var $form = $(this).closest('form');
      var $annonces = $('#form_categorie :selected');
      // Simulate form data, but only include the selected sport value.
      var data = {};
      // Submit data via AJAX to the form's action path.
      $.ajax({
        url : $form.attr('action'),
        type: $form.attr('method'),
        data : {id: $annonces.val()},
        success: function(html) {
            
            //$form.remove();
          // Replace current position field ...
          
          $form.replaceWith(html["formHtml"]);
         //$divAnnonces.append(html["formHtml"]);
          // Position field now displays the appropriate positions.
        }
      });
    }
);
    })
</script>
{% endblock %}
