{% extends 'base.html.twig' %}

{% block title %}Details annonces{% endblock %}

{% block body %}

    <div class="container-fluid" style="max-width: 1500px;">
        <div id="bg" style="height:250px;"></div>

        <div class="row pt-3">
            
            {# Premiere colonne #}
            <div class="col-md-6">
                {# Envoie de message #}
                    <div class="card shadow mb-3">
                        <div class="card-header d-flex align-items-top">
                            <img src="{{ asset('uploads/avatar/') ~ annonce.user.avatar }}" class="border border-success mr-2" alt="" style="height: 50px; height:50px; border-radius:50%;padding:3px;">
                            <div class="d-inline">
                                <h2 class="mb-0" style="font-size: 1.4rem;"><strong>{{ annonce.user.nomComplet }}</strong></h2>
                                <small class="text-muted">{{ user_annonces }} annonce(s) en ligne(s)</small>
                            </div>
                        </div>
                        <div class="card-body">
                            {% if app.user %}
                                {% if app.user.id == annonce.user.id %}
                                    <div class="text-center">
                                        <a href="{{ path('annonces_edit', {'id': annonce.id}) }}" class="btn btn-primary" >Modifier</a>
                                        {{ include('annonces/_delete_form.html.twig', {style: 'show'} ) }}
                                    </div>
                                {% else %}
                                    <form method="POST" action="{{ path('conversation_messages_new', { annonce: annonce.id, destinataire: annonce.user.id, expediteur: app.user.id }) }}">
                                        <div class="form-group">
                                            <label for="message">Votre message</label>
                                            <textarea type="message" name="contenue" class="form-control" name="message" id="message" placeholder="Messages...." rows="3"></textarea>
                                        </div>
                                        <button class="btn btn-primary btn-block">Envoyer un message</button>
                                    </form>
                                {% endif %}
                            {% else %}
                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                        <a href="{{ path('securitylogin') }}" class="btn btn-success btn-block">Se connecter</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 mb-3 text-center">
                                        <a href="{{ path('connect_facebook') }}" class="btn btn-block btn-primary" >
                                            <img src="{{ asset('image/facebook.png') }}" class="mr-2 float-left" style="height: 25px"><span>Se connecter avec facebook</span>
                                        </a>
                                    </div>
                
                                    <div class="col-12 mb-3 text-center">
                                        <a href="{{ path('connect_google') }}" class="btn btn-block btn-danger" >
                                            <img src="{{ asset('image/google.png') }}" class="float-left" style="height: 25px"><span>Se connecter avec google</span>
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {# Fin - envoie de message #}

                {# photos #}
                    <div class="card shadow mb-3">
                        <div class="card-header d-flex align-items-center">
                            <i class="text-muted fa fa-image mr-3" style="font-size: 3rem;"></i>
                            <h2 class="mb-0 d-inline" style="font-size: 1.4rem;"><strong>Photos</strong></h2>
                        </div>
                        <div class="card-body" style="padding: 0;">

                            {% if annonce.photo | length == 0 %}
                                <div class="text-center py-4">
                                    <span class="">Aucune photo disponible.</span>
                                </div>
                            {% else %}
                                <div class="" style="height: 300px;">
                                    <div id="carousel-photos" class="carousel slide h-100 overflow-hidden" data-ride="carousel">
                                        <div class="carousel-inner rounded-bottom h-100 overflow-hidden d-flex align-items-center">
                                            {% for photo in annonce.photo %}
                                                <div class="carousel-item {{ loop.index == 1 ? 'active' : ''}}">
                                                    <img src="{{ asset('uploads/') ~ photo.url }}" class="d-block w-100" alt="{{ photo.description }}">
                                                    <div class="carousel-caption d-none d-md-block">
                                                        <p>{{ photo.description }}</p>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <a class="carousel-control-prev" href="#carousel-photos" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carousel-photos" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>                            
                            {% endif %}

                        </div>
                    </div>
                {#Fin - photos #}
            </div>
            {# Fin - Premiere colonne #}

            {# Deuxieme colonne #}
            <div class="col-md-6">
                {# Calendrier #}
                <div class="card shadow mb-3">
                    <div class="card-header d-flex align-items-top">
                        <i class="text-muted fa fa-calendar mr-3" style="font-size: 3rem;"></i>
                        <h2 class="mb-0" style="font-size: 1.4rem;"><strong>Disponibilités</strong></h2>
                    </div>
                    <div class="card-body px-0 py-3">
                        <div class="row">
                            <div class="{% if app.user and app.user.id != annonce.user.id %} col-lg-6 {% else %} col-12 {% endif %}">
                                <div class="calendar mb-3">
                                    <div class="month row py-3 bg-success text-white border border-success">
                                        <div class="col-2 m-auto p-0 text-right">
                                            <i class=" display-4 fas fa-angle-left prev"></i>
                                        </div>
                                        <div class="col-8">
                                            <div class="date">
                                                <h3 class="text-center"></h3>
                                                <p class="text-center m-0"></p>
                                            </div>
                                        </div>
                                        <div class="col-2 m-auto p-0 text-left">
                                            <i class=" display-4 fas fa-angle-right next"></i>
                                        </div>
                                    </div>
                                    <div class="weekdays border border-success  border-bottom-0">
                                        <span>Dim</span><span>Lun</span><span>Mar</span><span>Mer</span><span>Jeu</span><span>Ven</span><span>Sam</span>
                                    </div>
                                    <div class="days border border-success"></div>
                                </div>
                            </div>
                            {% if app.user and app.user.id != annonce.user.id %}
                                <div class="col-lg-6">
                                    <div class="p-3">
                                        <div class="form-group">
                                            <label for="date-debut">Date du début:</label>
                                            <input type="date" id="date-debut" min="{{ date() | date('Y-m-d') }}" class="form-control" name="debut" placeholder="dd-mm-yyyy">
                                        </div>
                                        <div class="form-group">
                                            <label for="date-fin">Date du fin:</label>
                                            <input type="date" id="date-fin" min="{{ date() | date('Y-m-d') }}" class="form-control" name="fin">
                                        </div>
                                        <div class="calendar-action text-center">
                                            <button id="reserver" class="btn btn-block btn-success" type="button" data-toggle="modal" data-target="#reservationModal">Vérifier la disponibilité</button>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {# Fin - Calendrier #}

                {# Détail de l'annonce #}
                <div class="card shadow mb-3">
                    <div class="card-header d-flex align-items-top">
                        <i class="text-muted fa fa-list mr-3" style="font-size: 3rem;"></i>
                        {# {% set detail_type = annonce.type == 'offre' ? 'de l\'offre' : 'de la demande'  %} #}
                        <div class="d-inline">
                            <h2 class="mb-0" style="font-size: 1.4rem;"><strong>Détails</strong></h2>
                            <small class="text-muted mb-0">Publier le {{ annonce.dateModification | date("d/m/Y à H:m") }}</small>
                        </div>
                    </div>
                    <div class="card-body">
                        <div>
                            <h3 class="text-success" style="font-size: 1.2rem;"><strong>{{ annonce.titre }}</strong></h3>
                            <p class="mb-0"><strong>Prix: </strong>{{ annonce.prix }} Euro</p>
                        </div>
                        
                        <hr>
                        
                        <div>
                            {% set separateur = annonce_serialized | length / 2 | round %}
                            <div class="row">
                                <div class="col-6">
                                    {% for key, value in annonce_serialized | slice(0, separateur) %}
                                        <div class="mb-2">
                                            <h3 class="mb-0" style="font-size: 1.2rem;"><strong>{{ key | capitalize }}</strong></h3>
                                            {% if value is iterable %}
                                                <p>{{ value.valeur }}</p>
                                            {% else %}
                                                <p>{{ value == '' ? ' -- ' : value }}</p>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>

                                <div class="col-6">
                                    {% for key, value in annonce_serialized | slice(separateur, separateur) %}
                                        <div class="mb-2">
                                            <h3 class="mb-0" style="font-size: 1.2rem;"><strong>{{ key | capitalize }}</strong></h3>
                                            {% if value is iterable %}
                                                <p>{{ value.valeur }}</p>
                                            {% else %}
                                                <p>{{ value == '' ? ' -- ' : value }}</p>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <hr>
                        
                        <div>
                            <h3 style="font-size: 1.2rem;"><strong>Description :</strong></h3>
                            <p class="mb-0">{{ annonce.description | nl2br }}</p>
                        </div>
                    </div>
                </div>
                {# Fin - Détail de l'annonce #}
            </div>
            {# Fin - Deuxieme colonne #}

        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="reservationModal" tabindex="-1" role="dialog" aria-labelledby="reservationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-success text-white">
                    <h5 class="modal-title" id="reservationModalLabel">Réservation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="liste-reservation d-none">
                        <strong class="">Les dates disponibles sont:</strong>
                        <ol class="list-group mt-2">
                        </ol>
                    </div>
                    <div class="alert alert-warning text-center d-none alert-indisponible">
                        Les dates que vous avez séléctionnées sont indisponible.
                    </div>
                    <div class="alert alert-warning text-center d-none alert-selection">
                        Veuillez séléctionner la date du debut et la date du fin.
                    </div>
                </div>
                <div class="modal-footer">
                    <form action="{{ path('location_new') }}" method="POST">
                        <input type="hidden" name="token" value="{{ csrf_token('new_location') }}" >
                        <input type="hidden" name="reservations" id="input-reservation">
                        <input type="hidden" name="annonce" value="{{ annonce.id }}">

                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-outline-success">Réserver</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% set locations = [] %}
    {% for location in annonce.locations %}
        {% set locations = locations|merge([{debut: location.dateDebut, fin: location.dateFin, statut: location.statutLocation.id }]) %}
    {% endfor %}

    <script>
        var locations = {{ locations|json_encode|raw }};
    </script>
    <script src="{{ asset('js/calendrier.js') }}"></script>
{% endblock %}