{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <link rel="stylesheet" href="{{ asset('/css/calendrier.css') }}">
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %}Details annonces{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-md-12">
                <div class=" pt-3">
                    
                    {# Détail de l'annonce #}
                    <div class="card shadow mb-3">
                        <div class="card-header text-center">
                            <h2 class="mb-0">
                                {% if app.user %}
                                    <div class="position-absolute">
                                        <button class="btn btn-outline-warning">Signaler cette annonce</button>
                                    </div>
                                {% endif %}

                                <strong>{{ annonce.titre }}</strong>

                                <div class="float-right">
                                    {% if app.user and app.user.id != annonce.user.id %}
                                        <div title="Favoris" class="d-inline mr-2">
                                            {% if isFavoris %}
                                                <span class="btn-heart" data="{{ annonce.id }}">
                                                    <i class="fa fa-heart text-danger"></i>
                                                </span>
                                            {% else %}
                                                <span class="btn-heart" data="{{ annonce.id }}">
                                                    <i class="far fa-heart"></i>
                                                </span>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    <div title="Partager" class="d-inline dropdown">
                                        <a class="btn btn-lg p-0" href="#" role="button" id="share-btn" data-toggle="dropdown">
                                            <i class="fa fa-share-alt" style="font-size: 1.7rem;"></i>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="share-btn">
                                            <a class="dropdown-item py-2" href="#" onclick="copyUrl()">
                                                <i style="width: 15px" class="fa mr-2 fa-copy"></i> Copier le lien
                                            </a>
                                            <a class="dropdown-item py-2" href="#">
                                                <i style="width: 15px" class="fa mr-2 fa-envelope"></i> E-mail
                                            </a>
                                            <a class="dropdown-item py-2" href="#">
                                                <i style="width: 15px" class="fab mr-2 fa-facebook-f"></i> Facebook
                                            </a>
                                            <a class="dropdown-item py-2" href="#">
                                                <i style="width: 15px" class="fab mr-2 fa-twitter"></i> Twitter
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </h2>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    {% if annonce.photo | length == 0 %}
                                        <div class="text-center">
                                            <div>
										        <img src="{{ asset('image/logo-fond-blanc.png') }}" class="card-img-top m-auto p-2" style="width: auto;height: 175px;" alt="...">
                                            </div>
                                            <div>
                                                <strong class="text-warning">Aucune photo disponible.</strong>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="tz-gallery">
                                            {% set firstPhoto = annonce.photo[0] %}
                                            <div class="p-1 overflow-hidden" data-toggle="tooltip" data-placement="top" title="{{ firstPhoto.description }}" style="height: 200px; overflow-y:hidden;">
                                                <a href="{{ asset('uploads/') ~ firstPhoto.url }}" class="lightbox">
                                                    <img id="photo-{{ firstPhoto.id }}" src="{{ asset('uploads/') ~ firstPhoto.url }}" class="w-100" alt="{{ firstPhoto.description }}">
                                                </a>
                                            </div>

                                            <div class="row px-3">
                                                {% for photo in annonce.photo | slice(1, 100)%}
                                                    <div class="p-1 overflow-hidden" data-toggle="tooltip" data-placement="top" title="{{ photo.description }}">
                                                        <a href="{{ asset('uploads/') ~ photo.url }}" class="lightbox">
                                                            <img id="photo-{{ photo.id }}" src="{{ asset('uploads/') ~ photo.url }}" class="" style="height: 50px;width: auto" alt="{{ photo.description }}">
                                                        </a>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>

                                <table class="col-md-6 pt-4" style="font-size: 120%">
                                    <tr style="font-size: 150%">
                                        <td class="pl-3">
                                            <strong >Prix </strong>
                                        </td>
                                        <td>
                                            <span class="pr-2">: </span>
                                            <span class="text-success">{{ annonce.prix }}€/{{ annonce.type ? annonce.type.libelle : 'mois' }}</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="pl-3">
                                            <strong >Catégorie </strong>
                                        </td>
                                        <td>
                                            <span class="pr-2">: </span>
                                            <span class="text-success">{{ annonce.categorie.libelle }} / {{ annonce.sousCategorie.libelle }}</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td colspan="2"><hr class="mt-2 mb-0"></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                    </tr>

                                    {% if annonce_serialized|length > 1 %}
                                        {% for key, value in annonce_serialized %}
                                            {% if value is not null %}
                                                <tr>
                                                    <td class="pb-1 pl-3">
                                                        {% if key|capitalize == "Modele" %}
                                                            <strong>Modèle</strong>
                                                        {% else %}
                                                            <strong>{{ key | capitalize }}</strong>
                                                        {% endif %}
                                                    </td>
                                                    <td class="pl-1">
                                                        <span class="pr-2">: </span>
                                                        {% if value is iterable %}
                                                            <span>{{ value.valeur is defined ? value.valeur : value.libelle }}</span>
                                                        {% else %}
                                                            <span>{{ value }}</span>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </table>
                            </div>

                            <hr>

                            <div class="text-center w-80 m-auto">
                                <h3 style="font-size: 1.2rem;"><strong>Description :</strong></h3>
                                <p class="mb-0">
                                    <span class="collapse show descriptionCollapse">
                                       {{ annonce.description | nl2br | slice(0, 100) }} <a data-toggle="collapse" href=".descriptionCollapse" class="card-link">...afficher plus.</a>
                                    </span>
                                    <span class="collapse descriptionCollapse">
                                        {{ annonce.description | nl2br }}  <a data-toggle="collapse" href=".descriptionCollapse" class="card-link">...afficher moins.</a>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    {# Fin - Détail de l'annonce #}

                    <div class="row">
                        {# Calendrier #}
                        <div class="col-md-7">
                            <div class="card shadow mb-3">
                                {#
                                    <div class="card-header">
                                        <h2 class="mb-0 text-center" ><strong>Disponibilités</strong></h2>
                                    </div>
                                #}
                                <div class="card-body px-1 py-3">
                                    <div class="row">
                                        <div class="col-lg-6 {% if app.user and app.user.id == annonce.user.id %} offset-lg-3 {% endif %}">
                                            <div class="calendar">
                                                <div class="month row py-1 bg-success text-white border border-success">
                                                    <div class="col-2 m-auto p-0 text-right">
                                                        <i class=" display-4 fas fa-angle-left prev"></i>
                                                    </div>
                                                    <div class="col-8">
                                                        <div class="date">
                                                            <h3 class="month-name text-center"></h3>
                                                            <p class="text-center m-0"></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-2 m-auto p-0 text-left">
                                                        <i class=" display-4 fas fa-angle-right next"></i>
                                                    </div>
                                                </div>
                                                <div class="weekdays border border-success  border-bottom-0">
                                                    <span>Dim</span><span>Lun</span><span>Mar</span><span>Mer</span><span>Jeu</span><span>Ven</span><span>Sam</span>
                                                </div>
                                                <div class="days border border-success"></div>
                                            </div>
                                        </div>

                                        {% if not (app.user and app.user.id == annonce.user.id) %}
                                            <div class="col-lg-6 d-flex align-items-end justify-content-center">
                                                <div class="mx-auto">
                                                    <h3 class="text-center mb-4">Réservation:</h3>
                                                    <div class="form-group">
                                                        <label for="date-debut">Date du début:</label>
                                                        <input readonly autocomplete="off" id="date-debut" min="{{ date() | date('Y-m-d') }}" class="form-control" name="debut">
                                                    </div>
                                                    <div class="form-group mb-0">
                                                        <label for="date-fin">Date du fin:</label>
                                                        <input readonly autocomplete="off" id="date-fin" min="{{ date() | date('Y-m-d') }}" class="form-control" name="fin">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 mt-3 px-4 calendar-action text-center">
                                                <button id="reserver" class="btn btn-block btn-success" type="button" data-toggle="modal" data-target="#reservationModal">Vérifier la disponibilité</button>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {# Fin - Calendrier #}

                        {# Profil propriétaire #}
                        <div class="col-md-5 pl-md-0 mb-3">
                            <div class="card shadow h-100">
                                <div class="card-body px-1 py-3 d-flex align-items-end flex-column">
                                    <div class="row">
                                        <div class="col-4 pl-4 pr-0 text-center">
                                            <img src="{{ asset('uploads/avatar/') ~ proprietaire.avatar }}" class="my-2 rounded-circle img-fluid bg-primary" width="175px" height="175px">
                                        </div>
                                        <div class="col-8 py-2">
                                            <h3 class="text-capitalize">
                                                <a href="{{ path('proprietaire_annonce', {proprietaire: annonce.user.id, pseudo: annonce.user.pseudo}) }}">
                                                    <strong>{{ proprietaire.nomComplet }}</strong>
                                                </a>
                                            </h3>
                                            {% set noteRounded = note|round(0, 'floor') %}
                                            <p class="mt-1 text-warning">
                                                {% if noteRounded == 5 %}
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                {% elseif noteRounded == 0 %}
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                {% else %}
                                                    {% for i in range( noteRounded, 1) %}
                                                        <i class="fas fa-star"></i>
                                                    {% endfor %}

                                                    {% for i in range( (5 - noteRounded), 1) %}
                                                        <i class="far fa-star"></i>
                                                    {% endfor %}
                                                {% endif %}
                                                <strong class="text-warning ml-2">({{ note|round(1, 'floor') }})</strong>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="row w-100">
                                        <div class="col-12">
                                            <div class="mx-3 text-center">
                                                <p class="text-secondary py-0 mb-1">
                                                    <strong id="kilouwers">{{ kilouwersCount }}</strong> Kilouwers
                                                </p>
                                                <p class="text-primary py-0 mb-3 ">
                                                    <strong>{{ annoncesCount }}</strong> annonces en ligne
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="w-100 mt-auto">
                                        <div class="col-12">
                                            <div class="mx-3">
                                                {% if app.user and app.user.id != proprietaire.id %}
                                                    {% if followed %}
                                                        <button class="btn-follow btn btn-block btn-success">
                                                            <span class="spinner-border spinner-border-sm d-none"></span>
                                                            <span class="text-follow">Ne plus suivre</span>
                                                        </button>
                                                    {% else %}
                                                        <button class="btn-follow btn btn-block btn-primary">
                                                            <span class="spinner-border spinner-border-sm d-none"></span>
                                                            <span class="text-follow">Suivre</span>
                                                        </button>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {# Fin - Profil propriétaire #}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="reservationModal" tabindex="-1" role="dialog" aria-labelledby="reservationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-success text-white">
                    <h5 class="modal-title" id="reservationModalLabel">Réservation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="liste-reservation d-none">
                        <strong class="">Les dates disponibles sont:</strong>
                        <ol class="list-group mt-2">
                        </ol>
                    </div>
                    <div class="alert alert-warning text-center d-none alert-indisponible">
                        Les dates que vous avez séléctionnées sont indisponible.
                    </div>
                    <div class="alert alert-warning text-center d-none alert-selection">
                        Veuillez séléctionner la date du debut et la date du fin.
                    </div>
                </div>
                <div class="modal-footer">
                    <form action="{{ path('location_new') }}" method="POST">
                        <input type="hidden" name="token" value="{{ csrf_token('new_location') }}" >
                        <input type="hidden" name="reservations" id="input-reservation">
                        <input type="hidden" name="annonce" value="{{ annonce.id }}">

                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-outline-success">Réserver</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% set locations = [] %}
    {% for location in annonce.locations %}
        {% set locations = locations|merge([{debut: location.dateDebut, fin: location.dateFin, statut: location.statutLocation.id }]) %}
    {% endfor %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
    <script>
        var locations = {{ locations|json_encode|raw }};

        baguetteBox.run('.tz-gallery', {
            captions: function(element) {
                return element.getElementsByTagName('img')[0].alt;
            }
        });

		$(document).ready( function ()
		{
			var url = "{{ path('proprietaire_follow', { proprietaire: proprietaire.id }) }}";

			$('.btn-follow').click( function ()
			{
				var that = this;
				$('.btn-follow .spinner-border').removeClass('d-none');
				$.get( url, function (reponse)
				{
					reponse = JSON.parse(reponse);
					if( parseInt(reponse.status) == 0 )
					{
						$(that).addClass('btn-primary');
						$(that).removeClass('btn-success');
						$('.btn-follow .text-follow').text('Suivre');
					}
					else
					{
						$(that).addClass('btn-success');
						$(that).removeClass('btn-primary');
						$('.btn-follow .text-follow').text('Ne plus suivre');
					}

					$('#kilouwers').text(reponse.kilouwers);
					$('.btn-follow .spinner-border').addClass('d-none');
				});
			});
		});
    </script>
    <script src="{{ asset('js/calendrier.js') }}"></script>
{% endblock %}
