{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/en-cours.css') }}">
{% endblock %}

{% block title %}Locations en cours{% endblock %}

{% block body %}
    <div class="container mt-4">
		<div class="row">
            {% for message in app.flashes('warning') %}
                <div class="col-lg-10 offset-lg-1 col-md-12 mb-2 mt-2">   
                    <div class="alert alert-warning text-center">
                        {{ message }}
                    </div>
                </div> 
            {% endfor %}

            {% for message in app.flashes('notCards') %}
                <div class="col-lg-10 offset-lg-1 col-md-12 mb-2 mt-2">  
                    <div class="alert alert-warning text-center">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}

			<div class="col-lg-10 offset-lg-1 col-md-12">
                <div class="mb-4">
                    <div class="card shadow mb-2">
                        <h1 class="h3 text-center text-muted pt-2">Mes Biens</h1>
                    </div>

                    <div class="card shadow">
                        <div class="card-body p-0">
                            {% if mesBiens|length > 0 %}
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Annonce</th>
                                            <th>Début</th>
                                            <th>Fin</th>
                                            <th>Prix</th>
                                            <th>Statut</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for location in mesBiens %}
                                        {% set periodeTotal = date(location.dateDebut).diff(date(location.dateFin)) %}
                                        {% set plusOneDay   = location.dateFin|date_modify("+24 hour") > date() %}

                                        {% if location.annonce.type.id == 1 %}
                                            {% set difference = periodeTotal.hours + 1 %}
                                        {% elseif location.annonce.type.id == 2 %}
                                            {% set difference = periodeTotal.days + 1 %}
                                        {% elseif location.annonce.type.id == 3 %}
                                            {% set difference = periodeTotal.days/7 + 1 %}
                                        {% else %}
                                            {% set difference = (periodeTotal.days/30)|round() + 1 %}
                                        {% endif %}

                                        <tr>
                                            <td>
                                                {% set slug = location.annonce.slug == '' ? 'annonces_' : location.annonce.slug %}
                                                <a href="{{ path('annonces_show', { id: location.annonce.id, slug: slug }) }}">{{ location.annonce.titre }}</a>
                                            </td>
                                            <td>{{ location.dateDebut ? location.dateDebut|date('d/m/Y') : '' }}</td>
                                            <td>{{ location.dateFin ? location.dateFin|date('d/m/Y') : '' }}</td>
                                            <td>{{ (difference * location.annonce.prix) |round(2, 'floor') }}</td>
                                            <td>{{ location.statutLocation.libelle }}</td>
                                            <td>
                                                {% if location.statutLocation.id == 2 %} {# En Cours #}
                                                    <button class="btn btn-info btn-sm btn-message" title="Envoyer un message" data-toggle="modal" data-target="#message-modal" data-user="{{ location.user.nomComplet }}" data-url="{{ path('conversation_messages_new', { location: location.id, destinataire: location.user.id }) }}">
                                                        <i class="fa fa-comments"></i>
                                                    </button>
                                                {% elseif location.statutLocation.id == 1 %} {# En attente #}
                                                    <a href="{{ path('location_accept', {id: location.id, etat: 'accepter'}) }}" class="btn btn-sm btn-success" title="Accepter">
                                                        <i class="fa fa-check"></i>
                                                    </a>
                                                    <a href="{{ path('location_accept', {id: location.id, etat: 'refuser'}) }}" class="btn btn-sm btn-danger" title="Réfuser">
                                                        <i class="fa fa-times-circle"></i>
                                                    </a>
                                                {% else %}
                                                    {% set pTemp = date("now").diff(date(location.dateFin))  %}
                                                    {% if pTemp.days < 1 %}
                                                        <a class="btn btn-sm btn-warning text-white" href="#" title="Ouvrire un litige">
                                                            <i class="fa fa-angry"></i>
                                                        </a>
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <div class="mb-0 alert alert-warning text-center d-flex justify-content-center align-items-center" style="height: 120px;"><strong>Aucun résultat.</strong></div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="card shadow mb-2">
                        <h1 class="h3 text-center text-muted pt-2">Mes Emprunts</h1>
                    </div>

                    <div class="card shadow">
                        <div class="card-body p-0">
                            {% if mesEmprunts|length > 0 %}
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Annonce</th>
                                            <th>Début</th>
                                            <th>Fin</th>
                                            <th>Prix</th>
                                            <th>Statut</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for location in mesEmprunts %}
                                            {% set periodeTotal = date(location.dateDebut).diff(date(location.dateFin)) %}
                                            {% set plusOneDay   = location.dateFin|date_modify("+24 hour") > date() %}

                                            {% if location.annonce.type.id == 1 %}
                                                {% set difference = periodeTotal.hours + 1 %}
                                            {% elseif location.annonce.type.id == 2 %}
                                                {% set difference = periodeTotal.days + 1 %}
                                            {% elseif location.annonce.type.id == 3 %}
                                                {% set difference = periodeTotal.days/7 + 1 %}
                                            {% else %}
                                                {% set difference = (periodeTotal.days/30)|round() + 1 %}
                                            {% endif %}

                                            <tr>
                                                <td>
                                                    {% set slug = location.annonce.slug == '' ? 'annonces_' : location.annonce.slug %}
                                                    <a href="{{ path('annonces_show', { id: location.annonce.id, slug: slug }) }}">{{ location.annonce.titre }}</a>
                                                </td>
                                                <td>{{ location.dateDebut ? location.dateDebut|date('d/m/Y') : '' }}</td>
                                                <td>{{ location.dateFin ? location.dateFin|date('d/m/Y') : '' }}</td>
                                                <td>{{ (difference * location.annonce.prix) |round(2, 'floor') }}</td>
                                                <td>{{ location.statutLocation.libelle }}</td>
                                                <td>
                                                    {% if location.statutLocation.id == 2 %}
                                                        <button class="btn btn-info btn-sm btn-message" data-toggle="modal" data-target="#message-modal" data-user="{{ location.annonce.user.nomComplet }}" data-url="{{ path('conversation_messages_new', { location: location.id, destinataire: location.annonce.user.id }) }}">
                                                            <i class="fa fa-comments"></i>
                                                        </button>
                                                    {% endif %}

                                                    {% if not plusOneDay and location.statutLocation.id != 3 %}
                                                        <a class="btn btn-sm btn-warning" href="{{ path('location_accept', {id: location.id, etat: 'refuser'}) }}" title="Annuler">
                                                            <i class="fa fa-times-circle"></i>
                                                        </a>
                                                    {% elseif plusOneDay %}
                                                        {% if location.note is null %}
                                                            <a class="btn btn-sm btn-success btn-note text-white" data-toggle="modal" data-target="#note-modal" title="Laisser une note..." data-url="{{ path('location_comment', { location: location.id }) }}">
                                                                <i class="fa fa-star"></i>
                                                            </a>
                                                        {% endif %}
                                                        <a class="btn btn-sm btn-warning text-white" href="#" title="Ouvrire un litige">
                                                            <i class="fa fa-angry"></i>
                                                        </a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <div class="mb-0 alert alert-warning text-center d-flex justify-content-center align-items-center" style="height: 120px;"><strong>Aucun résultat.</strong></div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Message Modal -->
    <div class="modal fade" id="message-modal" tabindex="-1" role="dialog" aria-labelledby="message-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="message-modal-label">Envoyer un message à <strong id="message-receiver"></strong></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="">
                        <div class="form-group">
                            <label for="message">Votre message</label>
                            <textarea type="message" name="contenue" class="form-control" name="message" id="message" placeholder="Messages...." rows="3"></textarea>
                        </div>
                        <button class="btn btn-primary btn-block">Envoyer un message</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Note Modal -->
    <div class="modal fade" id="note-modal" tabindex="-1" role="dialog" aria-labelledby="note-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="note-modal-label"><strong>Notes</strong></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="">
                        <div class="d-flex justify-content-center my-4">
                            <div class="mx-auto stars">
                                <input class="star star-5" id="star-5" type="radio" value="5" name="note" /> <label class="star star-5" for="star-5"></label>
                                <input class="star star-4" id="star-4" type="radio" value="4" name="note" /> <label class="star star-4" for="star-4"></label>
                                <input class="star star-3" id="star-3" type="radio" value="3" name="note" /> <label class="star star-3" for="star-3"></label>
                                <input class="star star-2" id="star-2" type="radio" value="2" name="note" /> <label class="star star-2" for="star-2"></label>
                                <input class="star star-1" id="star-1" type="radio" value="1" name="note" /> <label class="star star-1" for="star-1"></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <textarea type="commentaire" class="form-control" name="commentaire" id="commentaire" placeholder="Commentaire...." rows="3"></textarea>
                        </div>
                        <button class="btn btn-primary btn-block">Enregistrer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/js/en-cours.js') }}"></script>
{% endblock %}
