{% extends 'base.html.twig' %}

{% block title %}Locations en cours{% endblock %}

{% block body %}

    <div class="container-fluid">

        <div class="row mb-3">
            <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10">
                <div class="card shadow mb-3 mt-3">
                    <div class="card-header d-flex align-items-top">
                        <i class="text-success fa fa-list mr-3" style="font-size: 3rem;"></i>
                        <div class="d-inline">
                            <h1 class="mb-0" style="font-size: 1.4rem;"><strong>Paiement Réussit</strong></h1>
                            
                        </div>
                    </div>
                    <div class="card-body p-0">
                        
                            <table class="table text-center">
                                <thead>
                                    <tr>
                                        <th>Propriétaire</th>
                                        <th>Locataire</th>
                                        <th>Prix</th>
                                        <th>Devis</th>
                                        <th>Statut</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                
                                    <tr>
                                        <td>{{ proprio }}</td>
                                        <td>{{ locataire }}</td>
                                        <td>{{ reponse.DebitedFunds.Amount/100 }}</td>
                                        <td>{{ reponse.DebitedFunds.Currency }}</td>
                                        <td>{{ reponse.ResultMessage }}</td>
                                        <td>
                                                 
                                                    <a href="{{ path('location_en_cours') }}" class="btn btn-sm btn-success" title="Accepter">
                                                    Locations
                                                    </a>
                                        
                                        </td>
                                    </tr>
                                 
                              </tbody>
                            </table>
                        
                    
                    </div>
                </div>
            </div>
        </div>

        
    </div>

    <!-- Modal -->
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready( function()
        {
            $('.btn-message').click( function()
            {
                var userName = $(this).attr('data-user');
                var url      = $(this).attr('data-url');

                $('#message-receiver').html(userName);
                $('#message-modal form').attr('action', url);
            })
        })
    </script>
{% endblock %}