{% extends "base.html.twig" %}

{% block title %}Abonnement{% endblock %}

{% block body %}

    <div class="container-fluid" >

        <div class="row mb-3">
            <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10">
                {% for message in app.flashes('error') %}
                    <div class="alert alert-warning text-center">
                        {{ message }}
                    </div>
                {% endfor %}
                <div class="card shadow mb-3">
                    <div class="card-header d-flex align-items-top">
                        <i class="text-success fa fa-calendar-plus mr-3" style="font-size: 3rem;"></i>
                        <div class="d-inline">
                            <h1 class="mb-0" style="font-size: 1.4rem;"><strong>Mon Abonnement</strong></h1>
                            <small class="text-muted">Votre abonnement actuel.</small>
                        </div>
                        <div class="ml-auto pt-2">
                            {% if abonnement.actif == 1 and abonnement.type.id != 1 %}
                                <a href="{{ path('abonnement_renouvelement') }}" class="btn btn-warning text-white">Désactiver le renouvelement</a>
                            {% else %}
                                {% if abonnement.type.id == 1 %}
                                    <button class="btn btn-primary"  data-toggle="modal" data-target="#modalAbonnement">S'abonner</button>
                                {% else %}
                                    <a href="{{ path('abonnement_renouvelement') }}" class="btn btn-success">Activer le renouvelement</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <p>Vous disposez d'un compte: </p>
                        <h2 class="text-success font-weight-bold">{{ abonnement.type.libelle }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalAbonnement" tabindex="-1" role="dialog" aria-labelledby="modalAbonnementLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background: var(--teal);">
                    <div class="m-auto text-center">
                        <img src="{{ asset('image/logo-fond-blanc.png') }}" style="height: 80px;width: auto;padding: 5px;background: white;border-radius: 50%;" >
                        <h5 class="modal-title text-white" id="modalAbonnementLabel"  >Abonnements</h5>
                    </div>
                    <button type="button" class="close" style="position: absolute;right:25px;" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="card-deck mb-3 text-center">
                        {% if userType == 'Professionnel' %}
                            <div class="card mb-4 box-shadow">
                                <div class="card-header">
                                    <h4 class="my-0 font-weight-normal">Professionnel</h4>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title">0.4 €<small class="text-muted">/ mois</small></h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>3 photos</li>
                                        <li>6 annonces</li>
                                        <li>0 € de frais de transaction</li>
                                        <li>A partir de 10% de frais de gestion</li>
                                    </ul>
                                </div>

                                <div class="card-footer">
                                    <a class="btn btn-lg btn-block btn-primary" href="{{ path('abonnement_new', {type: 2}) }}">S'abonner</a>
                                </div>
                            </div>
                        {% else %}
                            <div class="card mb-4 box-shadow">
                                <div class="card-header">
                                    <h4 class="my-0 font-weight-normal">Gratuit</h4>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title">0 €<small class="text-muted">/ mois</small></h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>3 photos</li>
                                        <li>3 annonces</li>
                                        <li>0.80 € de frais de transaction</li>
                                        <li>A partir de 10% de frais de gestion</li>
                                    </ul>
                                </div>

                                <div class="card-footer text-center">
                                    <button class="btn btn-lg btn-block btn-primary" disabled>Votre compte</button>
                                </div>
                            </div>
                        {% endif %}

                        <div class="card mb-4 box-shadow">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">Prémium</h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">7.99 €<small class="text-muted">/ mois</small></h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>5 photos</li>
                                    <li>8 annonces</li>
                                    <li>0€ de frais de transaction</li>
                                    <li>A partir de 5% de frais de gestion</li>
                                    <li>Visibilité en top recherche</li>
                                </ul>
                            </div>

                            <div class="card-footer">
                                <a class="btn btn-lg btn-block btn-primary" href="{{ path('abonnement_new', {type: 3}) }}">S'abonner</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{# 
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready( function () {
            $('#mois').change( function ()
            {
                const options = { year: 'numeric', month: 'numeric', day: 'numeric' };
                
                var date = new Date( Date.parse($('#debut').attr('data')) );
                var mois = parseInt($(this).val());
                
                date.setMonth( date.getMonth() + mois );
                $('#fin').val( date.toLocaleDateString('fr-FR', options) );
            })
        })
    </script>
{% endblock %}
 #}