{% extends "base.html.twig" %}

{% block title %}Portefeuille{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row mb-3">
            <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10">
                <div class="card shadow mb-3">
                    {% for message in app.flashes('compteIBAN') %}
                                    <div class="alert alert-danger">
                                        {{ message }}
                                    </div>
                    {% endfor %}
                    {% for message in app.flashes('notCards') %}
                                    <div class="alert alert-danger">
                                        {{ message }}
                                    </div>
                    {% endfor %}
                    <div class="card-header d-flex align-items-top">
                        <i class="text-success fa fa-wallet mr-3" style="font-size: 3rem;"></i>
                        <div class="d-inline">
                            <h1 class="mb-0" style="font-size: 1.4rem;"><strong>Mes Moyens de Paiements</strong></h1>
                            <small class="text-muted">Listes des cartes bancaires</small>
                        </div>
                        <div class="ml-auto">
                            <button class="btn btn-primary"  data-toggle="modal" data-target="#modalUser">Ajouter</button>
                        </div>
                    </div>
                    <div class="card-body p-0">
						<table class="table">
                                <thead>
                                    <tr>
                                        <th>Id Cartes</th>
                                        <th>Numero de la cartes</th>
                                        <th>Fournisseur de cartes</th>
                                        <th>Types du cartes</th>
                                        <th>Code banque</th>
                                        <th>Pays</th>
                                        <th>Devise</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for cartes in cards %}
                                    <tr>
                                        <td>{{cartes.Id}}</td>
                                        <td>{{cartes.Alias}}</td>
                                        <td>{{cartes.CardProvider}}</td>
                                        <td>{{cartes.CardType}}</td>
                                        <td>{{cartes.BankCode}}</td>
                                        <td>{{cartes.Country}}</td>
                                        <td>{{cartes.Currency}}</td>
                                                                                
                                    </tr>
                                 {% endfor %}
                              </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10">
                <div class="card shadow mb-3">
                    <div class="card-header d-flex align-items-top">
                        <i class="text-success fa fa-wallet mr-3" style="font-size: 3rem;"></i>
                        <div class="d-inline">
                            <h1 class="mb-0" style="font-size: 1.4rem;"><strong>Mon Portefeuille</strong></h1>
                            <small class="text-muted">Liste des factures de tout les mois.</small>
                        </div>
                    </div>
                    <div class="card-body p-0">
						<table class="table">
                                <thead>
                                    <tr>
                                        <th>Proprietaire</th>
                                        <th>Description</th>
                                        <th>Balance</th>
                                        <th>Devise</th>
                                        <th>Transférer</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for portfelle in walet %}
                                    <tr>
                                        <td>{{ proprietaire }}</td>
                                        <td>{{ portfelle.Description }}</td>
                                        <td>{{ portfelle.Balance.Amount/100 }}.00</td>
                                        <td>{{portfelle.Currency}}</td>
                                        <td>
                                            {% if app.session.get('type') == "PAYOUT" %}
                                                <button class="btn btn-sm btn-success" title="Accepter" disabled>
                                                        <i class="fa fa-bank"></i>Réussit
                                                </button>
                                            {% else %}
                                                <a href="{{path('portefeuille_transfer')}}" class="btn btn-sm btn-success" title="Accepter">
                                                        <i class="fa fa-bank"></i>Transférer
                                                </a>
                                            {% endif %}
                                        </td>
                                        
                                    </tr>
                                 {% endfor %}
                              </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
        {# table transaction #}
        <div class="row mb-3">
            <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10">
                <div class="card shadow mb-3">
                    <div class="card-header d-flex align-items-top">
                        <i class="text-success fa fa-wallet mr-3" style="font-size: 3rem;"></i>
                        <div class="d-inline">
                            <h1 class="mb-0" style="font-size: 1.4rem;"><strong>Transactions récentes</strong></h1>
                            <small class="text-muted">Listes de vos transactions récentes.</small>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <table class="table">
                                <thead>
                                    <tr>
                                        <th>Id transaction</th>
                                        <th>Locataire</th>
                                        <th>Date de transaction</th>
                                        <th>Type</th>
                                        <th>Montant</th>
                                        <th>Statut</th>
                                        <th>Résultat</th>
                                        <th>Transfère</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for res in transaction %}
                                    <tr>
                                        <td>{{ res.Id }}</td>
                                        <td>{{ res.DebitedWalletId }}</td>
                                        <td>{{ res.CreationDate }}</td>
                                        <td>{{ res.Type }}</td>
                                        <td>{{ res.DebitedFunds.Amount/100 }}.00 {{ res.DebitedFunds.Currency }}</td>
                                        <td>{{ res.Status }}</td>
                                        <td>{{ res.ResultMessage }}</td>
                                        <td>
                                            {% if app.session.get('type') == "PAYOUT" %}
                                                <button class="btn btn-sm btn-success" title="Accepter" disabled>
                                                        <i class="fa fa-bank"></i>Réussit
                                                </button>
                                            {% else %}
                                                <a href="{{path('portefeuille_transfer')}}" class="btn btn-sm btn-success" title="Accepter">
                                                        <i class="fa fa-bank"></i>Transférer
                                                </a>
                                            {% endif %}
                                        </td>
                                        
                                    </tr>
                                 {% endfor %}
                              </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalUser" tabindex="-1" role="dialog" aria-labelledby="modalUserLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalUserLabel">Mes Moyens de Paiements</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form action="{{ dataform.CardRegistrationURL }}"  method="post" class="card-body">

                        <input type="hidden" name="data" value="{{dataform.PreregistrationData}}" />
                         <input type="hidden" name="accessKeyRef" value="{{dataform.AccessKey}}" />

                         <input type="hidden" name="returnURL" value="{{ absolute_url (path('portefeuille_creat')) }}" />
                        
                        <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-credit-card"></i></span>
                        </div>
                        <input class="form-control" placeholder="Numeros de cart" type="text" name="cardNumber" value="" />
                        </div>
                        
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"></i></span>
                            </div>
                            <input id="datepicker" style="z-index: 1100 !important;" class="form-control" placeholder="Disponibilité MM/YY" name="cardExpirationDate" readonly="true">
                        </div>

                        
                        <div class="form-group">
                        <input class="form-control" placeholder="CVV" type="text" name="cardCvx" value="" />
                        </div>
                        
                        <div class="form-group">
                            <button class="btn btn-success btn-block" style="background-color: #FF4500;border-color: #FF4500;" type="submit"><img src="{{ asset('image/mangopay.png') }}" class="mr-2 float-left" style="height: 25px">Valider
                            </button>
                        </div>
        
                        <div class="row">
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $(document).ready( function () 
        {
            
            /*$("#datepicker").datepicker( "option", "dateFormat", 'mmy' );*/
            $( "#datepicker" ).datepicker({
              dateFormat: "mmy",
              monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
              monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
              dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
              dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
              dayNamesMin: ['Di', 'Lu', 'Ma', 'Mer', 'Je', 'Ve', 'Sa'],
            });
            
        });
        
    </script>
    
{% endblock %}