{% extends 'base.html.twig' %}

{% block title %}Kiloukoi{% endblock %}

{% block stylesheets %}
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <style>
        #input-show-categorie {
            border: .5px lightgrey solid;
            cursor: text;
            padding: 5px 5px 0px 5px;
            min-height: 38px;
        }

        #input-show-categorie.not-show-all {
            max-height: 38px;
            overflow: hidden;
        }

        #input-show-categorie span {
            border: solid .5px grey;
            background: lightgrey;
            font-size: 90%;
            border-radius: .5rem;
            display: inline-flex;
            margin-right: .3rem;
            margin-bottom: 5px;
        }

        #input-show-categorie span .delete {
            border-right: solid .5px grey;
            padding: 2px 5px;
            cursor: pointer;
        }

        #input-show-categorie span .fa-icon {
            padding: 6px 0px 2px 2px;
        }

        #input-show-categorie span small {
            padding: 4px 5px 2px 2px;
            font-size: 100%;
        }
    </style>
{% endblock %}

{% set annonce_titre = annonce_titre is defined ? annonce_titre : "Annonces" %}

{% block body %}

<div class="container-fluid">
    <div class="row row_search_container">
        <div class="col-lg-10 offset-lg-1 col-md-12 mt-5 mb-4">
            <div class="card p-3 shadow">
                <div class="card-body py-0 px-0 px-md-3">
                    <form action="{{ path('annonces_filter') }}" method="post">
                        <h1 class="text-primary py-3 text-center" >Recherche d'annonces</h1>

                        <div class="row_for_fields">
                            <div class="form-group col-12 col-md-6">
                                <input type="hidden" id="input-categorie" name="categories">
                                {# <input type="text" id="input-show-categorie" class=" form-control" placeholder="Catégories"> #}

                                <div class="input-group">
                                    <div id="input-show-categorie" class="h-100 form-control rounded not-show-all">
                                        <p style="display: inline;" class="p-0 m-0 categorie-placeholder text-muted ml-2">Catégories</p>
                                    </div>

                                    <div class="input-group-append">
                                        <span class="input-group-text bg-success text-white" id="basic-addon2"><i class="fa fa-list"></i></span>
                                    </div>
                                </div>

                                <div class="pt-1 categorie-container d-none">
                                    <div class="card py-3 shadow">
                                        <div class="card-title mb-0"><h3 class="text-success text-center">Liste des catégories</h3></div>
                                        <div class="card-body pt-0">
                                            <div class="row categories_row">
                                                <div class="col-lg-4 col-md-6" id="list-1">
                                                    <div class="list-group">
                                                        {% for categorie in categories | slice(0, 5) %}
                                                            <button type="button" data="{{ categorie.id }}" class="categorie-parent list-group-item list-group-item-action border-0 py-1" style="cursor: pointer;" data-toggle="collapse" data-target="#collapse-{{ categorie.id }}" aria-expanded="true" aria-controls="collapse-{{ categorie.id }}">
                                                                <i style="width: 25px;" class="text-center mr-1 {{ categorie.icon }}"></i> {{ categorie.libelle }}
                                                            </button>
                                                            <ul id="collapse-{{ categorie.id }}" class="collapse" aria-labelledby="heading-{{ categorie.id }}" data-parent="#list-1">
                                                                {% for sous_cat in categorie.categorieEnfant %}
                                                                    <button type="button"  data="{{ sous_cat.id }}" class="categorie-enfant list-group-item list-group-item-action border-0 py-1">
                                                                        {{ sous_cat.libelle }}
                                                                    </button>
                                                                {% endfor %}
                                                            </ul>
                                                        {% endfor %}
                                                    </div>
                                                </div>

                                                <div class="col-lg-4 col-md-6" id="list-2">
                                                    <div class="list-group">
                                                        {% for categorie in categories | slice(5, 5) %}
                                                            <button type="button" data="{{ categorie.id }}" class="categorie-parent list-group-item list-group-item-action border-0 py-1" style="cursor: pointer;" data-toggle="collapse" data-target="#collapse-{{ categorie.id }}" aria-expanded="true" aria-controls="collapse-{{ categorie.id }}">
                                                                <i style="width: 25px;" class="text-center mr-1 {{ categorie.icon }}"></i> {{ categorie.libelle }}
                                                            </button>
                                                            <ul id="collapse-{{ categorie.id }}" class="collapse" aria-labelledby="heading-{{ categorie.id }}" data-parent="#list-2">
                                                                {% for sous_cat in categorie.categorieEnfant %}
                                                                    <button type="button"  data="{{ sous_cat.id }}" class="categorie-enfant list-group-item list-group-item-action border-0 py-1">
                                                                        {{ sous_cat.libelle }}
                                                                    </button>
                                                                {% endfor %}
                                                            </ul>
                                                        {% endfor %}
                                                    </div>
                                                </div>

                                                <div class="col-lg-4 col-md-6" id="list-3">
                                                    <div class="list-group">
                                                        {% for categorie in categories | slice(10, 5) %}
                                                            <button type="button" data="{{ categorie.id }}" data-class="{{ categorie.className }}" class="categorie-parent list-group-item list-group-item-action border-0 py-1" style="cursor: pointer;" data-toggle="collapse" data-target="#collapse-{{ categorie.id }}" aria-expanded="true" aria-controls="collapse-{{ categorie.id }}">
                                                                <i style="width: 25px;" class="text-center mr-1 {{ categorie.icon }}"></i> {{ categorie.libelle }}
                                                            </button>
                                                            <ul id="collapse-{{ categorie.id }}" class="collapse" aria-labelledby="heading-{{ categorie.id }}" data-parent="#list-3">
                                                                {% for sous_cat in categorie.categorieEnfant %}
                                                                    <button type="button"  data="{{ sous_cat.id }}" class="categorie-enfant list-group-item list-group-item-action border-0 py-1">
                                                                        {{ sous_cat.libelle }}
                                                                    </button>
                                                                {% endfor %}
                                                            </ul>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-12 col-md-6">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Que cherchez vous?" aria-describedby="recherche-addon" name="titre">
                                    <div class="input-group-append">
                                        <span class="input-group-text bg-success text-white" id="recherche-addon"><i class="fa fa-search"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-12 col-md-6">
                                <div class="input-group">
                                    <select id="city" name="ville[]" type="text" class="form-control" multiple="multiple" placeholder="Choisissez une ville" aria-describedby="ville-addon"></select>
                                    <div class="input-group-append">
                                        <span class="input-group-text bg-success text-white" id="ville-addon"><i class="fa fa-map-marker-alt"></i></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-6 col-12">
                                <div class="input-group">
                                    <input id="datepicker" class="form-control" placeholder="Disponibilité" name="date" readonly="true">
                                    <div class="input-group-append">
                                        <span class="input-group-text bg-success text-white" id="ville-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row slider-row">
                            <div class="col-sm-6 col-12 slider">
                                <div class="form-group m-2" data-toggle="tooltip" data-placement="top" title="Prix">
                                    <div id="slider-range" class="mt-3"></div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="row row_range_values">
                                    <div class="col-md-6 col-5">
                                        <div class="mt-2 text-center text-muted">
                                            <input type="text" id="amount" name="prix" readonly style="border:0; color:#007bff; font-weight:bold;" class="w-100 text-center">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-7">
                                        <div class="form-group">
                                            <select name="unite" id="prix-unite" class="custom-select" id="prix-unite" >
                                                {% for type in types %}
                                                    <option value="{{ type.id }}">par {{ type.libelle }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row row-search-button">
                            <div class="col-md-6 offset-md-3 mb-3">
                                <button class="btn btn-primary btn-block">
                                    <i class="fa fa-search"></i> Rechercher
                                </button>
                            </div>
                        </div>
                        <div class="row row-create-button">
                            <div class="col-md-6 offset-md-3">
                                <a class="btn btn-success btn-block text-white" href="{{ path('annonces_depos') }}">
                                    Déposer une annonce
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pt-5">
    <div class="row row-values-sentences">
        <div class="col-lg-10 offset-lg-1">
            <div class="row row-sentences-container">
                <div class="col-md-4 mb-4">
                    <div class="text-center">
                        <img src="icone/green.png"  class="img-fluid mb-3" style="height: 80px !important;">
                        <p class="mb-1 text-primary phrases"><strong style="font-size: 1.5rem;">Protégez notre planète</strong></p>
                        <p class="">En évitant d'acheter du neuf</p>
                        <!-- p class="" style="display: none;">En évitant d'acheter du neuf</p -->
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="text-center ">
                        <img src="icone/money.png"  class="img-fluid mb-3" style="height: 80px !important;">
                        <p class="mb-1 text-primary phrases"><strong style="font-size: 1.5rem;">Arrondissez vos fins de mois</strong></p>
                        <p class="">En mettant en location vos biens et services</p>
                        <!-- p class="" style="display: none;">En mettant en location vos biens et services</p -->
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="text-center ">
                        <img src="icone/problem.png"  class="img-fluid mb-3" style="height: 80px !important;">
                        <p class="mb-1 text-primary phrases"><strong style="font-size: 1.5rem;">Changez le monde</strong></p>
                        <p class="">En aidant vos voisins ou vos proches</p>
                        <!-- p class="" style="display: none;">En aidant vos voisins ou vos proches</p -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% set annonce_title = "Les dérnières annonces" %}
{% include "annonces/list.html.twig" %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/datepicker.min.js') }}" type="text/javascript"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/i18n/fr.js"></script>

    <script src="{{ asset('js/accueil.js') }}" type="text/javascript"></script>
{% endblock %}
