{% extends 'base.html.twig' %}

{% block title %}Kiloukoi{% endblock %}

{% block stylesheets %}
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% set annonce_titre = annonce_titre is defined ? annonce_titre : "Annonces" %}

{% block body %}

<div class="container">
    <div id="bg" style="position:absolute;z-index:-1;left:0;height:375px;"></div>
    
    <center class="py-4">
        <img src="image/logo.png" class="mb-3" style="height: 150px;width: auto;" >
        <p class="text-center text-white"><strong>N'achetez que le nécessaire, pour le reste il y a Kiloukoi!</strong></p>
    </center>

    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card p-3 shadow">
                <div class="card-body py-0 px-0 px-md-3">
                    <form action="{{ path('annonces_filter') }}" class="">
                        <h3 class="text-primary py-3 text-center" >Recherche d'annonces</h3>

                        <div class="row">
                            <div class="form-group col-12 col-md-6">
                                <select class="form-control custom-select" name="categorie">
                                    {% for categorie in categories %}
                                        <option value="{{ categorie.className }}">{{ categorie.libelle }} </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-12 col-md-6">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Que cherchez vous?" aria-describedby="recherche-addon" name="titre">
                                    <div class="input-group-append">
                                        <span class="input-group-text bg-white" id="recherche-addon"><i class="fa fa-search"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-12 col-md-6">
                                <div class="input-group">
                                    <input id="city" type="text" class="form-control" placeholder="Choisissez une ville" aria-describedby="ville-addon" name="ville">
                                    <div class="input-group-append">
                                        <span class="input-group-text bg-white" id="ville-addon"><i class="fa fa-city"></i></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-6 col-12">
                                <div class="input-group">
                                    <input id="datepicker" class="form-control" placeholder="Disponibilité" name="date">
                                    <div class="input-group-append">
                                        <span class="input-group-text bg-white" id="ville-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 col-12">
                                <div class="form-group mt-2" data-toggle="tooltip" data-placement="top" title="Prix">
                                    <div id="slider-range" class="mt-3"></div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-md-6 col-5">
                                        <div class="mt-2 text-center text-muted">
                                            <input type="text" id="amount" name="prix" readonly style="border:0; color:#f6931f; font-weight:bold;" class="w-100 text-center">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-7">
                                        <div class="form-group">
                                            <select name="unite" id="prix-unite" class="custom-select">
                                                <option value="1">par mois</option>
                                                <option value="2">par jours</option>
                                                <option value="3">par heure</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 offset-md-3">
                                <button class="btn btn-success btn-block">
                                    <i class="fa fa-search"></i> Rechercher
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pt-5">
    <div class="row">
        <div class="col-md-4 mb-5">
            <div class="text-center ">
                <img src="icone/green.png"  class="img-fluid mb-3" style="height: 60px !important;">
                <p class="mb-1 text-success">Protegeons notre planete</p>
                <p class="">En évitant d'acheter du neuf</p>
            </div>
        </div>

        <div class="col-md-4 mb-5">
            <div class="text-center ">
                <img src="icone/money.png"  class="img-fluid mb-3" style="height: 60px !important;">
                <p class="mb-1 text-success">Arrondissez vos fins de mois</p>
                <p class="">En mettant en location vos biens et services</p>
            </div>
        </div>

        <div class="col-md-4 mb-5">
            <div class="text-center ">
                <img src="icone/problem.png"  class="img-fluid mb-3" style="height: 60px !important;">
                <p class="mb-1 text-success">Changez le monde</p>
                <p class="">En aidant vos voisins ou vos proches</p>
            </div>
        </div>
    </div>
</div>


{% set annonce_title = "Les dérnières annonces" %}
{% include "annonces/list.html.twig" %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/datepicker.min.js') }}" type="text/javascript"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(`<ul id="city-list" class="d-none"></ul>`).insertAfter( $('#city').parent() );
        $('#city').keyup(function(event)
        {
            var url = "https://datanova.legroupe.laposte.fr/api/records/1.0/search/?dataset=laposte_hexasmal&facet=nom_de_la_commune&facet=code_postal&q=" + $(this).val().trim();
            $.get(url, function(data)
            {
                $('#city-list li').remove();
                data.records.forEach( function(element, i)
                {
                    $('#city-list').append(`
                        <li class="px-2 py-1" data-cp="${ element.fields.code_postal }" data-city="${ element.fields.nom_de_la_commune }">${ element.fields.code_postal } - ${ element.fields.nom_de_la_commune }</li>
                    `);
                });
            })
        });

        $('#city').focusin( function()
        {
            $('#city-list').removeClass('d-none');
        })

        $('#city').focusout( function()
        {
            setTimeout( function()
            {
                $('#city-list').addClass('d-none');
            }, 300)
        })

        $(document).on('click', '#city-list li', function()
        {
            $('#code_postal').removeClass('is-invalid');
            var city = $(this).attr('data-city');
            var cp   = $(this).attr('data-cp');
            $('#city').val(city);
        })
        
        $('#datepicker').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4',
        });
        
        $( "#slider-range" ).slider({
            range: true,
            min: 0,
            max: 1000,
            values: [ 0, 300 ],
            slide: function( event, ui ) 
            {
                $( "#amount" ).val( ui.values[ 0 ] + "€ - " + ui.values[ 1 ] + "€" );
            }
        });
        $( "#amount" ).val( $( "#slider-range" ).slider( "values", 0 ) + "€ - " + $( "#slider-range" ).slider( "values", 1 ) + "€" );
        
    </script>
{% endblock %}