<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link href="{{ asset('css/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"/>
        {# <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/> #}

        <link href="{{ asset('fontawesome/css/all.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>

        {% block stylesheets %}{% endblock %}
    </head>

    <body  style="background-color: #e6e6e6e0;">
        <header>
            <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #004E5B;">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#toggleNav" aria-controls="toggleNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a class="navbar-brand text-success m-auto" href="/">
                    <img src="{{ asset('image/kiloukoi.png') }}" class="mb-2" alt="Kiloukoi" style="height: 20px">
                </a>

                {% set menu_active = "home" %}
                {# {% set menu_active = defined menu ? menu : "home" %} #}

                <div class="collapse navbar-collapse" id="toggleNav">
                    <ul class="navbar-nav m-auto mt-2 mt-md-0">
                        <li class="nav-item {% if menu_active == "" %} active {% endif %}">
                            <a class="nav-link" href="#">
                                <i class="mr-1 fa fa-search"></i> Mes recherches
                            </a>
                        </li>
                        
                        <li class="nav-item {% if menu_active == "" %} active {% endif %}">
                            <a class="nav-link" href="#">
                                <i class="mr-1 fa fa-star"></i> Favoris
                            </a>
                        </li>
                        
                        <li class="nav-item {% if menu_active == "" %} active {% endif %}">
                            <a class="nav-link"  href="{{path('annonces_index')}}">
                                <i class="mr-1 fa fa-list"></i> Annonce
                            </a>
                        </li>

                        {% if app.user %}
                            <li class="nav-item {% if menu_active == "" %} active {% endif %}">
                                <a class="nav-link"  href="{{path('annonces_index')}}">
                                    <i class="mr-1 fa fa-bookmark"></i> Abonnement
                                </a>
                            </li>
                        {% endif %}
                    </ul>

                    {% if not app.user %}
                        <ul class="navbar-nav {% if menu_active == "" %} active {% endif %}">
                            <li class="nav-item">
                                <a class="nav-link"  href="{{ path('securitylogin') }}">
                                    <i class="mr-1 fa fa-user"></i> Se Connecter
                                </a>
                            </li>
                        </ul>
                    {% endif  %}
    
                </div>

                {% if app.user %}
                    <ul class="navbar-nav" style="flex-direction: row;">
                        <li class="nav-item mt-1 mr-2">
                            <a href="{{ path('conversation_index') }}" class="nav-link text-white">
                                <i class="fa fa-envelope" style="font-size: 1.5rem;"></i>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {# <i class="mr-1 fa fa-user"></i> #}
                                {% if app.user.avatar %}
                                    <img src="{{ asset('uploads/avatar/') ~ app.user.avatar }}" alt="Avatar de l'utilisateur" class="rounded-circle" style="width: 36px;height: 36px;">
                                {% else %}
                                    <img src="{{ asset('image/img-add.png') }}" alt="Avatar de l'utilisateur" class="rounded-circle" style="width: 36px;height: 36px;">
                                {% endif %}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown" style="position: absolute;">
                                <a class="dropdown-item" href="{{ path('user_profil') }}">Profile</a>
                                <a class="dropdown-item" href="#">Mes factures</a>

                                <div class="dropdown-divider"></div>
                                
                                <a class="dropdown-item"  href="{{ path('security_logout') }}">
                                    <i class="mr-1 fa fa-logout"></i> Se Déconnecter
                                </a>
                            </div>
                        </li>
                    </ul>
                {% endif %}
            </nav>
        </header>

        <main class=" mb-4">
            {% block body %}{% endblock %}
        </main>

        <footer class="align-items-end">
            <div class="container-fluid">
                <div class="row py-2 border-top border-bottom border-primary bg-white">
                    <div class="col text-center">
                        <p class="m-0" style="font-size: 1.5rem">
                            <a href="#" class="mx-3"><i class="fab fa-twitter text-info" aria-hidden="true"></i></a>
                            <a href="#" class="mx-3"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                            <a href="#" class="mx-3"><i class="fab fa-instagram text-warning" aria-hidden="true"></i></a>
                            <a href="#" class="mx-3"><i class="fa fa-envelope text-secondary" aria-hidden="true"></i></a>
                        </p>
                    </div>
                </div>
                
                <div class="row pt-3 bg-white">
                    <div class="col-12 col-sm-6 col-md-3">
                        <ul class="nav flex-column mb-3">
                            <li class="nav-item">
                                <strong class="nav-link pt-0" style="font-size: 1.2rem">A propos</strong>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pt-0" href="#">Qui sommes-nous ?</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pt-0" href="#">Nous rejoindre</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pt-0" href="#">Acteur responsable de l'économie française</a>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="col-12 col-sm-6 col-md-3">
                        <ul class="nav flex-column mb-3">
                            <li class="nav-item">
                                <strong class="nav-link pt-0" style="font-size: 1.2rem">Informations</strong>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pt-0" href="#">Condition générale d'utilisation</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pt-0" href="#">Référencement</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pt-0" href="#">Condition générale de vente</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pt-0" href="#">Vie privé/cookies</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pt-0" href="#">Critère de classement</a>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="col-12 col-sm-6 col-md-3">
                        <ul class="nav flex-column mb-3">
                            <li class="nav-item">
                                <strong class="nav-link pt-0" style="font-size: 1.2rem">Nos solutions pro</strong>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pt-0" href="#">Professionnel de l'immobilier</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pt-0" href="#">Vos recrutements</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pt-0" href="#">Professionnel de l'auto</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pt-0" href="#">Autres solutions professionnelles</a>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="col-12 col-sm-6 col-md-3">
                        <ul class="nav flex-column mb-3">
                            <li class="nav-item">
                                <strong class="nav-link pt-0" style="font-size: 1.2rem">Des questions ?</strong>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pt-0" href="#">Aides</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pt-0" href="#">Service de paiement sécurisé et la livraison</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pt-0" href="#">Demandez conseil à la Communauté</a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="row border-top border-bottom border-primary bg-white">
                    <div class="col text-center py-2">
                        Copyright 2020
                    </div>
                </div>
            </div>
        </footer>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="{{ asset('/bootstrap/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
