{% extends 'base.html.twig' %}

{% block title %}Immobilier{% endblock %}

{% block body %}
    <h1>Immobilier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ immobilier.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ immobilier.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ immobilier.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ immobilier.prix }}</td>
            </tr>
            <tr>
                <th>Surface</th>
                <td>{{ immobilier.surface }}</td>
            </tr>
            <tr>
                <th>NbrChambre</th>
                <td>{{ immobilier.nbrChambre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('immobilier_index') }}">back to list</a>

    <a href="{{ path('immobilier_edit', {'id': immobilier.id}) }}">edit</a>

    {{ include('immobilier/_delete_form.html.twig') }}
{% endblock %}
