{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block stylesheets %}
<style type="text/css">

</style>
{% endblock %}

{% block body %}

    <div class="container-fluid" id="tab">

        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-sm-12 bg-white rounded pb-3" style="margin-top: 50px;;">
                <div class="text-center mb-3">
                    <img src="{{ asset('uploads/avatar/') ~ app.user.avatar }}" class="bg-white" alt="" style="height: 150px;width:auto;margin-top:-60px;border-radius: 50%">
                    <div class="text-center my-1 text-warning">
                        {% set noteRounded = note|round(0, 'floor') %}
                        {% if noteRounded == 5 %}
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        {% elseif noteRounded == 0 %}
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        {% else %}
                            {% for i in range( noteRounded, 1) %}
                                <i class="fas fa-star"></i>
                            {% endfor %}

                            {% for i in range( (5 - noteRounded), 1) %}
                                <i class="far fa-star"></i>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <strong class="text-warning ml-2">({{ note|round(1, 'floor') }})</strong>

					<div class="text-center text-secondary">
                        <a href="{{ path('kilouwers_perso') }}">
                            <strong id="kilouwers">{{ kilouwersCount }}</strong> Kilouwers
                        </a>
					</div>
					<div class="text-center text-primary">
						<strong>{{ annoncesCount }}</strong> annonces en ligne
					</div>
                </div>

                <div class="card" style="min-height: calc(100vh - 310px);">
                    <div class="card-body">
                        <div class="card-title">
                            <h2 class="text-success text-center">Mes infos</h2>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                {% for message in app.flashes('addKYC') %}
                                    <div class="alert alert-success">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                                {% for message in app.flashes('warningKYC') %}
                                    <div class="alert alert-danger">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                                <table class="table table-borderless table-sm">
                                    {% if app.user.nom is defined %}
                                        <tr>
                                            <td style="width: 120px"><strong>Nom :</strong></td>
                                            <td>{{ app.user.nom }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Prénom :</strong></td>
                                            <td>{{ app.user.prenom }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Téléphone :</strong></td>
                                            <td>{{ app.user.telephone }}</td>
                                        </tr>
                                    {% endif %}

                                    {% if app.user.raisonSocial is defined %}
                                        <tr>
                                            <td><strong>Raison social :</strong></td>
                                            <td>{{ app.user.raisonSocial }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Siret :</strong></td>
                                            <td>{{ app.user.Siret }}</td>
                                        </tr>
                                    {% endif %}

                                    <tr>
                                        <td><strong>Ville :</strong></td>
                                        <td>{{ app.user.ville }} - {{ app.user.cp }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Mon adresse :</strong></td>
                                        <td>{{ app.user.adresse }}</td>
                                    </tr>

                                    <tr>
                                        <td><strong>Mail :</strong></td>
                                        <td>{{ app.user.email }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Pseudo :</strong></td>
                                        <td>{{ app.user.pseudo }}</td>
                                    </tr>
                                </table>
                            </div>

                            {% if usersmango.KYCLevel == 'REGULAR' %}
                                {% set classe = "success" %}
                            {% elseif usersmango.KYCLevel == 'LIGHT' %}
                                {% set classe = "primary" %}
                            {% else %}
                                {% set classe = "warning" %}
                            {% endif %}

                            <div class="col-lg-6 col-md-12">
                                <div class="card h-100 border-{{ classe }} shadow mb-3" >
                                    <div class="card-header border-bottom border-{{ classe }}">
                                        <h5 class="m-0" style="text-align: center;">Vérification du compte</h5>
                                    </div>
                                    <div class="card-body text-center">
                                        {% if getkycdoc %}
                                            {% if usersmango.KYCLevel == 'REGULAR' %}
                                                <p><span>La vérification de votre compte est: </span></p>
                                                <strong class="text-success">Effectué</strong>
                                            {% elseif usersmango.KYCLevel == 'LIGHT' %}
                                                <p><span>La vérification de votre compte est: </span></p>
                                                <strong class="text-primary">En cours</strong>
                                            {% else %}
                                                <p class="card-text">Votre compte est encore inactif.</p>
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalKYCpro" >
                                                    ACTIVER MON COMPTE
                                                </button>
                                            {% endif %}
                                        {% else %}
                                                <p class="card-text">Votre compte est encore inactif.</p>
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalKYCpro" >
                                                    ACTIVER MON COMPTE
                                                </button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-12 my-3 d-flex justify-content-center">
                                <a href="{{ path('user_edit', { id: app.user.id }) }}" class="btn btn-primary btn-block w-md-50">Modifier votre compte</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6  col-md-6 col-12 mb-3">
                                <a href="{{ path('mes_annonces_index') }}" class="btn btn-block h-100 btn-success">Mes annonces</a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12 mb-3">
                                <a href="{{ path('location_en_cours') }}" class="btn btn-block h-100 btn-success">Locations en cours</a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12 mb-3">
                                <a href="{{ path('annonces_favoris') }}" class="btn btn-block h-100 btn-success">Favoris</a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12 mb-3">
                                <a href="{{ path('kilouwers_favoris') }}" class="btn btn-block h-100 btn-success">Kilouwers favoris</a>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-lg-6 col-md-6 col-12 mb-3">
                                <a href="{{ path('compte_portefeuille') }}" class="btn btn-block h-100 btn-success">Mon Portefeuille</a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12 mb-3">
                                <a href="{{ path('compte_facture') }}" class="btn btn-block h-100 btn-success">Mes Factures</a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12 mb-3">
                                <a href="{{ path('mes_annonces_index') }}" class="btn btn-block h-100 btn-success">Abonnements</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal kyc pro-->
    <div class="modal fade" id="modalKYCpro" tabindex="-1" role="dialog" aria-labelledby="modalUserLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalUserLabel" style="text-align: center;">Activer mon compte</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form action="{{path('uploadkyc')}}"  enctype="multipart/form-data" method="post" class="card-body">

                        <label class='w-100 __lk-fileInput mb-3'>
                            <span data-default='Choose file' class="btn btn-info btn-block">TELECHARGER MA PIECE D’IDENTITE RECTO</span>
                            <input type="file" style="display: none;" name="kycfile[]">
                        </label>

                        <label class='w-100 __lk-fileInput mb-3'>
                            <span data-default='Choose file' class="btn btn-info btn-block">TELECHARGER MA PIECE D’IDENTITE VERSO</span>
                            <input type="file" style="display: none;" name="kycfile[]">
                        </label>
                        {% if discr != false %}
                            <label class='w-100 __lk-fileInput mb-3'>
                                <span data-default='Choose file' class="btn btn-info btn-block">TELECHARGER KBIS</span>
                                <input type="file" style="display: none;" name="kycfile[]">
                            </label>
                        {% endif %}

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary w-100">ENVOYER</button>{# <button class="btn btn-success btn-block" style="background-color: #FF4500;border-color: #FF4500;" type="submit"><img src="{{ asset('image/mangopay.png') }}" class="mr-2 float-left" style="height: 25px">Envoyer
                            </button> #}
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function(){
            $('input').change(function(){
                var label = $(this).parent().find('span');
                if(typeof(this.files) !='undefined'){ // fucking IE
                    if(this.files.length == 0){
                        label.removeClass('withFile').text(label.data('default'));
                    }
                    else{
                        var file = this.files[0];
                        var name = file.name;
                        var size = (file.size / 1048576).toFixed(3); //size in mb
                        label.addClass('withFile').text(name + ' (' + size + 'mb)');
                    }
                }
                else{
                  var name = this.value.split("\\");
                  label.addClass('withFile').text(name[name.length-1]);
                }
                return false;
            });
        });
    </script>
{% endblock %}
