{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block stylesheets %}
<style type="text/css">

</style>
{% endblock %}

{% block body %}

    <div class="container-fluid" id="tab">
        
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-sm-12 bg-white rounded pb-3" style="margin-top: 50px;;">
                <div class="text-center mb-3">
                    <img src="{{ asset('uploads/avatar/') ~ app.user.avatar }}" class="" alt="" style="height: 150px;width:auto;margin-top:-60px;border-radius: 50%">
                </div>

                <div class="card" style="min-height: calc(100vh - 310px);">
                    <div class="card-body">
                        <div class="card-title">
                            <h2 class="text-success text-center">Mes infos</h2>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                {% for message in app.flashes('addKYC') %}
                                    <div class="alert alert-success">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                                <table class="table table-borderless table-sm">
                                    {% if app.user.nom is defined %}
                                        <tr>
                                            <td style="width: 120px"><strong>Nom :</strong></td>
                                            <td>{{ app.user.nom }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Prénom :</strong></td>
                                            <td>{{ app.user.prenom }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Téléphone :</strong></td>
                                            <td>{{ app.user.telephone }}</td>
                                        </tr>
                                    {% endif %}
                                    
                                    {% if app.user.raisonSocial is defined %}
                                        <tr>
                                            <td><strong>Raison social :</strong></td>
                                            <td>{{ app.user.raisonSocial }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Siret :</strong></td>
                                            <td>{{ app.user.Siret }}</td>
                                        </tr>
                                    {% endif %}

                                    <tr>
                                        <td><strong>Ville :</strong></td>
                                        <td>{{ app.user.ville }} - {{ app.user.cp }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Mon adresse :</strong></td>
                                        <td>{{ app.user.adresse }}</td>
                                    </tr>

                                    <tr>
                                        <td><strong>Mail :</strong></td>
                                        <td>{{ app.user.email }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Pseudo :</strong></td>
                                        <td>{{ app.user.pseudo }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Verification de mon compte:</strong></td>
                                            {% if usersmango.KYCLevel == 'REGULAR' %}
                                                <td>Effectué</td>
                                            {% elseif usersmango.KYCLevel == 'LIGHT' %}
                                                <td>En cours</td>
                                            {% else %}
                                                <td>En attente</td>
                                            {% endif %}
                                    </tr>
                                </table>
                            </div>
                            {% if discr == false %}
                                <div class="col-lg-6 col-md-12 m-auto text-center">
                                    <button class="btn btn-primary"  data-toggle="modal" data-target="#modalKYC">Vérifier mon Compte</button>
                                </div>
                            {% else %}
                                <div class="col-lg-6 col-md-12 m-auto text-center">
                                    <button class="btn btn-primary"  data-toggle="modal" data-target="#modalKYCpro">Vérifier mon Compte</button>
                                </div>
                            {% endif %}

                            <div class="col-12 my-3 d-flex justify-content-center">
                                <a href="{{ path('user_edit', { id: app.user.id }) }}" class="btn btn-primary btn-block w-md-50">Modifier votre compte</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-12 mb-3">
                                <a href="{{ path('mes_annonces_index') }}" class="btn btn-block h-100 btn-outline-primary">Mes annonces</a>
                            </div>
                            <div class="col-lg-3 col-md-6 col-12 mb-3">
                                <a href="{{ path('location_en_cours') }}" class="btn btn-block h-100 btn-outline-primary">Locations en cours</a>
                            </div>
                            <div class="col-lg-3 col-md-6 col-12 mb-3">
                                <a href="{{ path('annonces_favoris') }}" class="btn btn-block h-100 btn-outline-primary">Favoris</a>
                            </div>
                            <div class="col-lg-3 col-md-6 col-12 mb-3">
                                <a href="{{ path('mes_annonces_index') }}" class="btn btn-block h-100 btn-outline-primary">Abonnements</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="offset-lg-3 col-lg-3 col-md-6 col-12 mb-3">
                                <a href="{{ path('compte_portefeuille') }}" class="btn btn-block h-100 btn-outline-primary">Mon Portefeuille</a>
                            </div>
                            <div class="col-lg-3 col-md-6 col-12 mb-3">
                                <a href="{{ path('compte_facture') }}" class="btn btn-block h-100 btn-outline-primary">Mes Factures</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modalKYC" tabindex="-1" role="dialog" aria-labelledby="modalUserLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalUserLabel">Ajouter document KYC</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form action="{{path('uploadkyc')}}"  enctype="multipart/form-data" method="post" class="card-body">

                          <label class='w-100 __lk-fileInput mb-3'>
                            <span data-default='Choose file' class="btn btn-info btn-block">TELECHARGER MA PIECE D’IDENTITE RECTO</span>
                            <input type="file" style="display: none;" name="kycfile[]">
                          </label>

                          <label class='w-100 __lk-fileInput mb-3'>
                            <span data-default='Choose file' class="btn btn-info btn-block">TELECHARGER MA PIECE D’IDENTITE VERSO</span>
                            <input type="file" style="display: none;" name="kycfile[]">
                          </label>
                          
                        
                        <div class="form-group">
                            <button class="btn btn-success btn-block" style="background-color: #FF4500;border-color: #FF4500;" type="submit"><img src="{{ asset('image/mangopay.png') }}" class="mr-2 float-left" style="height: 25px">Envoyer
                            </button>
                        </div>
        
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal kyc pro-->
    <div class="modal fade" id="modalKYCpro" tabindex="-1" role="dialog" aria-labelledby="modalUserLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalUserLabel">Ajouter document KYC</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form action="{{path('uploadkyc')}}"  enctype="multipart/form-data" method="post" class="card-body">

                        <label class='w-100 __lk-fileInput mb-3'>
                            <span data-default='Choose file' class="btn btn-info btn-block">TELECHARGER MA PIECE D’IDENTITE RECTO</span>
                            <input type="file" style="display: none;" name="kycfile[]">
                        </label>

                        <label class='w-100 __lk-fileInput mb-3'>
                            <span data-default='Choose file' class="btn btn-info btn-block">TELECHARGER MA PIECE D’IDENTITE VERSO</span>
                            <input type="file" style="display: none;" name="kycfile[]">
                        </label>

                        <label class='w-100 __lk-fileInput mb-3'>
                            <span data-default='Choose file' class="btn btn-info btn-block">TELECHARGER KBIS</span>
                            <input type="file" style="display: none;" name="kycfile[]">
                        </label>
                          
                        
                        <div class="form-group">
                            <button class="btn btn-success btn-block" style="background-color: #FF4500;border-color: #FF4500;" type="submit"><img src="{{ asset('image/mangopay.png') }}" class="mr-2 float-left" style="height: 25px">Envoyer
                            </button>
                        </div>
        
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function(){  
            $('input').change(function(){
                var label = $(this).parent().find('span'); 
                if(typeof(this.files) !='undefined'){ // fucking IE      
                    if(this.files.length == 0){
                        label.removeClass('withFile').text(label.data('default'));
                    }           
                    else{
                        var file = this.files[0]; 
                        var name = file.name;
                        var size = (file.size / 1048576).toFixed(3); //size in mb 
                        label.addClass('withFile').text(name + ' (' + size + 'mb)');
                    }                        
                }
                else{
                  var name = this.value.split("\\");
                  label.addClass('withFile').text(name[name.length-1]);
                }
                return false;
            });  
        });
    </script>
{% endblock %}