{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

    <div class="container-fluid" >
        
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-sm-12 bg-white rounded pb-3" style="margin-top: 50px;;">
                <div class="text-center mb-3">
                    <img src="{{ asset('uploads/avatar/') ~ app.user.avatar }}" class="" alt="" style="height: 150px;width:auto;margin-top:-60px;border-radius: 50%">
                </div>

                <div class="card" style="min-height: calc(100vh - 310px);">
                    <div class="card-body">
                        <div class="card-title">
                            <h2 class="text-success text-center">Mes infos</h2>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <table class="table table-borderless table-sm">
                                    {% if app.user.nom is defined %}
                                        <tr>
                                            <td style="width: 120px"><strong>Nom :</strong></td>
                                            <td>{{ app.user.nom }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Prénom :</strong></td>
                                            <td>{{ app.user.prenom }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Téléphone :</strong></td>
                                            <td>{{ app.user.telephone }}</td>
                                        </tr>
                                    {% endif %}
                                    
                                    {% if app.user.raisonSocial is defined %}
                                        <tr>
                                            <td><strong>Raison social :</strong></td>
                                            <td>{{ app.user.raisonSocial }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Siret :</strong></td>
                                            <td>{{ app.user.Siret }}</td>
                                        </tr>
                                    {% endif %}

                                    <tr>
                                        <td><strong>Ville :</strong></td>
                                        <td>{{ app.user.ville }} - {{ app.user.cp }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Mon adresse :</strong></td>
                                        <td>{{ app.user.adresse }}</td>
                                    </tr>

                                    <tr>
                                        <td><strong>Mail :</strong></td>
                                        <td>{{ app.user.email }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Pseudo :</strong></td>
                                        <td>{{ app.user.pseudo }}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="ml-auto">
                                <button class="btn btn-primary"  data-toggle="modal" data-target="#modalKYC">Ajouter Document KYC</button>
                            </div>
                            <div class="col-12 my-3 d-flex justify-content-center">
                                <a href="{{ path('user_edit', { id: app.user.id }) }}" class="btn btn-primary btn-block w-md-50">Modifier votre compte</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-12 mb-3">
                                <a href="{{ path('mes_annonces_index') }}" class="btn btn-block h-100 btn-outline-primary">Mes annonces</a>
                            </div>
                            <div class="col-lg-3 col-md-6 col-12 mb-3">
                                <a href="{{ path('location_en_cours') }}" class="btn btn-block h-100 btn-outline-primary">Locations en cours</a>
                            </div>
                            <div class="col-lg-3 col-md-6 col-12 mb-3">
                                <a href="{{ path('annonces_favoris') }}" class="btn btn-block h-100 btn-outline-primary">Favoris</a>
                            </div>
                            <div class="col-lg-3 col-md-6 col-12 mb-3">
                                <a href="{{ path('mes_annonces_index') }}" class="btn btn-block h-100 btn-outline-primary">Abonnements</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="offset-lg-3 col-lg-3 col-md-6 col-12 mb-3">
                                <a href="{{ path('compte_portefeuille') }}" class="btn btn-block h-100 btn-outline-primary">Mon Portefeuille</a>
                            </div>
                            <div class="col-lg-3 col-md-6 col-12 mb-3">
                                <a href="{{ path('compte_facture') }}" class="btn btn-block h-100 btn-outline-primary">Mes Factures</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modalKYC" tabindex="-1" role="dialog" aria-labelledby="modalUserLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalUserLabel">Ajouter document KYC</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form action="{{path('uploadkyc')}}"  enctype="multipart/form-data" method="post" class="card-body">

                        <input type="file" name="kycfile">
                        
                        <div class="form-group">
                            <button class="btn btn-success btn-block" style="background-color: #FF4500;border-color: #FF4500;" type="submit"><img src="{{ asset('image/mangopay.png') }}" class="mr-2 float-left" style="height: 25px">Valider
                            </button>
                        </div>
        
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}